<template>
  <button class="button button-back__button" v-on:click="goBack">
      <img class="button-back__icon" src="@/assets/back.svg">
  </button>
</template>

<script>
export default {
  name: 'BackTo',
  props: {
    url: {
      type: String,
      required: false 
    }
  },
  methods: {
    goBack () {
      if (this.url) {
        this.$router.push(this.url)
      }
      this.$emit('goBack', this);
    }
  }
}
</script>

<style lang="scss" scoped>
    .button-back {
        &__icon {
            height: 36px;
            width: 40px;
            margin: 4px 0px 0px 0px;
        }
        &__button {
            &:focus {
                outline: 0;
            }
            position: absolute;
            top: 0;
            left: -5px;
            z-index: 2;
            background: transparent;
        }
    }
</style>