<template>
  <div class="row">
    <top-likers></top-likers>

    <div class="col-12 col-lg-5">

      <page-under-dev section="Stories" v-if="isPopupVisible"></page-under-dev>

      <div :class="{'row': true, 'vh--100': isPopupVisible}">
        <div class="col-12">
          <top-likers-mobile></top-likers-mobile>

          <div :class="{'content': true, 'blurred': isPopupVisible}">
            <preloader v-if="isLoadingTopContent"></preloader>
            <h5 class="text-center" v-if="feedLine.length === 0">

            </h5>
            <balance-is-empty></balance-is-empty>
            <div class="post-pane" v-for="feedItem in feedLine" :key="feedItem.id">
              <div class="row">
                <div @click.prevent="toggleLike(feedItem)" :class="{'col-8': true}">
                  <div class="post-image" @click="openFeedWithSingleItem(feedItem.id)">
                    <img :src="feedItem.image.url" alt="Post Image">
                    <div v-if="feedItem.liked" class="liked"></div>
                    <transition name="zoomIn">
                      <div class="like-animation" v-if="itemsWithLikeInProgress.indexOf(feedItem.id) !== -1">
                        <img src="@/assets/like.svg" alt="Liked">
                      </div>
                    </transition>
                  </div>
                </div>
                <div class="col-4 pl-0 post-desc">
                  <div class="d-flex flex-column justify-content-between" style="height: 100%">
                    <div @click="toggleLike(feedItem)">
                      <div class="row mb-2">
                        <div class="col-4 pr-0 text-center post-desc__img">
                          <img src="@/assets/posts/views.svg" alt="Views">
                        </div>
                        <div class="col-8 pl-2 post-desc__text">{{ feedItem.views_count }}</div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-4 pr-0 text-center post-desc__img">
                          <img src="@/assets/posts/likes.svg" alt="Likes">
                        </div>
                        <div class="col-8 pl-2 post-desc__text"><strong>{{ feedItem.likes_count }}</strong></div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-4 pr-0 text-center post-desc__img">
                          <img src="@/assets/posts/dollar.svg" alt="Dollar">
                        </div>
                        <div class="col-8 pl-2 post-desc__text">{{ feedItem.fund_count }}</div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-4 pr-0 text-center post-desc__img">
                          <img src="@/assets/posts/comments.svg" alt="Comments">
                        </div>
                        <div class="col-8 pl-2 post-desc__text">{{ feedItem.comments_count }}</div>
                      </div>
                    </div>
                    <div class="post-desc__author pseudo-link" @click="goToPersonal(feedItem)">
                      {{ feedItem.owner.name }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import TopLikers from './TopLikers'
import TopLikersMobile from './TopLikersMobile'
import { apiClient } from './../../utils/httpClient'
import { isScrolledToBottom } from './../../utils/window'
import PageUnderDev from './../shared/PageUnderDev'
import BalanceIsEmpty from './../shared/notifications/BalanceIsEmpty'
import Preloader from './../Preloader'

let useCache = false

export default {
  name: 'TopContent',
  data: function () {
    return {
      likeTimers: [],
      feedLine: [],
      scrolledToBottom: false,
      offsetCounter: 0,
      itemsWithLikeInProgress: [],
      isLoadingTopContent: false
    }
  },
  beforeRouteEnter (to, from, next) {
    useCache = !!from.meta.showBackArrow
    next()
  },
  created () {
    this.$store.commit('hidePopup')
    this.$store.commit('disableLikeFilter', 'topContent')
    this.fetchData()
    window.addEventListener('scroll', this.onScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll () {
      this.scrolledToBottom = isScrolledToBottom()
    },
    fetchData (offset = 0, liked = false, force = false) {
      if (useCache && !force) {
        this.feedLine = this.$store.state.cache.top.items
        this.pageOffset = this.$store.state.cache.top.page
        return
      }
      let url = '/tops/feeds'
      if (liked === true) {
        //   url = '/tops/feeds/liked'
        console.log(offset)
      }
      apiClient.get(url)
        .then(res => {
          this.isLoadingTopContent = false
          if (res.status === 200) {
            this.insertItems(res.data.data.feeds)
          }
        })
        .catch(err => {
          this.isLoadingTopContent = false
          console.error(err)
        })
      this.isLoadingTopContent = true
    },
    insertItems (items) {
      const items_ = items.map(x => {
        x['liked'] = x.is_liked
        x['fund_count'] = x.fund_count.toFixed(2)
        return x
      })
      if (this.offsetCounter !== 0) {
        this.feedLine = this.feedLine.concat(items_)
      } else {
        this.feedLine = items_
      }
      this.$store.commit('updateCache', {
        type: 'top',
        items: this.feedLine,
        page: this.pageOffset
      })
    },
    toggleLike (item) {
      if (this.likeTimers.indexOf(item.id) !== -1) {
        const idx = this.feedLine.findIndex(x => x.id === item.id)
        let feedItem = this.feedLine[idx]
        const isLiked = feedItem.liked
        if (isLiked) {
          feedItem.likes_count = +feedItem.likes_count - 1
          feedItem.fund_count = (+feedItem.fund_count - 0.05).toFixed(2)
          this.$store.commit('setLikesCounter', this.$store.state.likesCounter - 1)
        } else {
          if (+this.$store.state.balance === 0) {
            this.$store.commit('showIsBalanceEmpty')
            return
          }
          feedItem.likes_count = +feedItem.likes_count + 1
          feedItem.fund_count = (+feedItem.fund_count + 0.05).toFixed(2)
          this.$store.commit('setLikesCounter', this.$store.state.likesCounter + 1)
          this.itemsWithLikeInProgress.push(item.id)
          setTimeout(() => {
            this.itemsWithLikeInProgress.splice(this.itemsWithLikeInProgress.indexOf(item.id), 1)
          }, 1000)
          apiClient.get(`/feeds/${item.id}/like`)
            .then(res => {
              console.log(res)
            })
            .catch(error => {
              console.error(error)
            })
        }
        feedItem.liked = !isLiked
      } else {
        this.likeTimers.push(item.id)
        setTimeout(() => {
          this.likeTimers.splice(this.likeTimers.indexOf(item.id), 1)
        }, 300)
      }
    },
    openPopup () {
      this.$store.commit('showPopup')
    },
    goToPersonal (item) {
      this.$router.push(`/user/${item.owner.id}`)
    },
    openFeedWithSingleItem (postId) {
      this.$router.push(`/feed/${postId}`)
    }
  },
  components: {
    TopLikers,
    TopLikersMobile,
    PageUnderDev,
    BalanceIsEmpty,
    Preloader
  },
  watch: {
    scrolledToBottom (newVal) {
      if (newVal) {
        this.offsetCounter += 1
        // this.fetchData(this.offsetCounter)
      }
    },
    likedOnly (newVal) {
      this.offsetCounter = 0
      this.fetchData(this.offsetCounter, newVal)
    }
  },
  computed: {
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    likedOnly () {
      return this.$store.state.likeFilter.topContent
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
  margin-bottom: 45px;
}

@media (min-width: 992px) {
  .content {
    padding-top: 45px;
  }
}

.caption {
  font-family: Phenomena;
  width: 64px;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.post-pane {
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 #ffffff;
  margin-bottom: 10px;
  /* max-height: 192px; */
  overflow: hidden;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.last-seen {
  font-family: Muller;
}

.username {
  font-family: Muller-Bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.post-image {
  border-radius: 21px;
   position: relative;
   user-select: none;
}

.post-image > .liked {
    /* background-image: radial-gradient(circle at 50% 8%, #ff5c5c, #5300ff); */
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 7px #5300ff;
    border-radius: 21px;
    top: 0;
    left: 0;
    user-select: none;
}


.post-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 21px;
}

.post-desc {
  font-family: Muller-Medium;
  padding-top: 20px;
}

.post-desc__img {
  height: 24px;
}

.post-desc__img img {
  height: 14px;
}

.post-desc__text {
  padding-top: 2px;
}

.post-desc__author {
  padding-left: 10px;
  font-family: Muller-Bold;
  padding-top: 8px;
  padding-bottom: 12px;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-pane {
    max-height: none;
  }

  .post-pane__header {
    height: auto;
  }

  .post-desc__author {
    font-size: 15px;
  }
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.zoomIn-enter-active {
  animation: zoomIn .5s;
}
.zoomIn-leave-active {
  animation: zoomIn .5s reverse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
</style>
