<template>
  <div class="wrapper" :class="{'content': true}">
    <div class="loader" v-if="isPosting"></div>
    <form v-if="!isPosting" @submit.prevent="submitForm">
      <div class="Img__block"><img v-if="previewSrc !== ''" :src="previewSrc" class="preview mb-2"></div>
      <div class="action-wrapper">
        <div class="pre-border" v-if="previewSrc === ''">
          <div class="buttonsSelect">
            <span class="btnPhoto" :class="{'selectActive': isPhotoUpload}" @click="isPhotoUpload=true">Photo</span>
            <span class="btnVideo" :class="{'selectActive': !isPhotoUpload}" @click="isPhotoUpload=false">Video</span>
          </div>
          <div class="row">
            <div class="col-6 mr-0 text-center">
              <file-select v-if="isPhotoUpload && ! isApp()" @onChange="handleFileChange"></file-select>
              <file-video-select v-if="isPhotoUpload === false && ! isApp()" @onChange="handleFileChange"></file-video-select>

              <camera-mobile v-if="isPhotoUpload && isApp()" @onChange="handleFileChangeInApp"></camera-mobile>
              <file-video-select v-if="isPhotoUpload === false && isApp()"></file-video-select>
            </div>
            <div class="col-6 ml-0 text-center">
              <camera-view v-if="isPhotoUpload && !isApp()" @onChange="handleFileChange"></camera-view>
              <video-view v-if="isPhotoUpload === false && !isApp()"></video-view>
            </div>
          </div>
       </div>
      </div>
      <div class="add-post-block__title text-left">
        <span>Comment</span>
      </div>
      <textarea name="text" rows="5" v-model="text" class="form-control" placeholder="optional"></textarea>

      <div v-if="errMsg !== ''" class="text-center mt-4">Error. {{ errMsg }}</div>
      <div class="text-center">
        <button class="upload-btn" :disabled="isPosting">Post</button>
      </div>

    </form>
  </div>
</template>

<script>
import { apiClient, getErrorMessage } from './../../utils/httpClient'
import FileSelect from './../shared/FileSelect'
import FileVideoSelect from './../shared/FileVideoSelect'
import CameraView from './../shared/CameraView2'
import CameraMobile from './../shared/CameraMobile'
import { balanceInUsd } from './../../utils/common'
import VideoView from './../shared/VideoView'


export default {
  name: 'AddFeedPost',
  data: function () {
    return {
      isPhotoUpload: true,
      errMsg: '',
      text: '',
      media: null,
      previewSrc: '',
      isPosting: false,
      image: undefined
    }
  },
  components: {
    FileSelect,
    CameraView,
    CameraMobile,



    VideoView,
    FileVideoSelect
  },
  methods: {
    submitForm () {
      this.errMsg = ''
      this.isPosting = true
      let fd = new FormData()
      fd.append('description', this.text)
      fd.append('short_description', this.text)
      fd.append('image', this.image)
      apiClient.post('/feeds/create', fd)
        .then(res => {
          try {
            const completed = res.data.data.completed
            if (completed) {
              apiClient.get('/my/profile')
                .then(res => {
                  if (res.status === 200) {
                    const balance = res.data.data.profile.fund_count
                    apiClient.get('/my/posts')
                      .then(res => {
                        if (res.status === 200) {
                          const feeds = res.data.data.posts.feeds.reverse()
                          this.$store.commit(
                            'setLikeNotification',
                            {
                              liker: {
                                name: 'monoreto',
                                image: '/logo-smooth@2x.png'
                              },
                              balance: balance,
                              balanceUsd: balanceInUsd(balance),
                              post: {
                                image: feeds[0].image.url
                              },
                              __autoremove: true
                            },
                            true
                          )
                        }
                        this.$router.push('/')
                      })
                      .catch(err => {
                        console.error(err)
                        this.$router.push('/')
                      })
                  }
                })
                .catch(error => {
                  console.error(error)
                  this.$store.commit('setUserInfo', {})
                  this.isPosting = false
                })
            } else {
              if ('message' in res.data.data) {
                this.errMsg = res.data.data.message
              } else {
                this.errMsg = 'Unknown error: ' + JSON.stringify(res.data.data)
              }
              this.isPosting = false
            }
          } catch (error) {
            this.errMsg = error.message
            this.isPosting = false
          }
        })
        .catch(error => {
          this.errMsg = getErrorMessage(error)
          this.isPosting = false
        })
    },
    handleFileChange (event) {
      const input = event.target
      const reader = new FileReader()
      reader.onload = () => {
        const dataURL = reader.result
        this.previewSrc = dataURL
      }
      reader.readAsDataURL(input.files[0])
      this.image = input.files[0]
    },
    handleFileChangeInApp(file) {
      const reader = new FileReader();
      reader.onloadend = () => {
        const formData = new FormData();
        const imgBlob = new Blob([reader.result], {type: file.type});
        this.image = imgBlob;
        this.previewSrc = URL.createObjectURL(imgBlob);
      };
      reader.readAsArrayBuffer(file);
    },
    isApp() {
      return !document.URL.startsWith('http');
    }
  }
}
</script>

<style scoped>
.action-wrapper {
  padding: 5px;
}
.wrapper {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
  z-index: 200;
  height: 150%;
  margin: 0px -15px;
}
.buttonsSelect{
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 290px;
  height: 39px;
  background: #5402ff;
  border-radius: 19.5px;
  display: flex;
  justify-content: space-between;
}
.selectActive {
  width: 130px;
  line-height: 39px;
  color: #5300ff;
  background: white;
  border-radius: 19.5px;
  text-align: center;
}
.btnPhoto {
  width: 130px;
  line-height: 39px;
  border-radius: 19.5px;
  text-align: center;
}
.btnVideo {
  width: 130px;
  line-height: 39px;
  border-radius: 19.5px;
  text-align: center;
}

.Img__block {
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.preview {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  max-width: 100%;
  height: 300px;
  border-radius: 21px;
  text-align: center;
}

.add-post-block__title {
  margin-bottom: .3rem;
  font-size: 16px;
  margin-top: .5rem;
}

.add-post-block__title{
  width: 270px;
  margin: 0 auto;
  margin-top: 17.5px;
  padding: 0 5px;
}
.form-control{
  width: 270px;
  height: 58px;
  border-radius: 4.2px;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  border: solid 2px #ffffff;
  background: none;
  color: white;
  margin: 0 auto;
  margin-top: 3px;
}
.form-control::placeholder{
  color: white;
}
.upload-btn {
  width: 149px;
  height: 39px;
  margin-top: 22px;
  opacity: 0.5;
  border-radius: 19.5px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 #ffffff;
  color: #5402ff;
  font-family: Muller;
  font-size: 18px;
  font-weight: 500;
}

.pre-border {
  border: 2px dashed white;
  width: 100%;
  padding: 20px;
  border-radius: 21px;
}

</style>
