<template>
    <div class="row">

        <div class="col-12 col-lg-5">
            <page-under-dev section="Stories" v-if="isPopupVisible"></page-under-dev>
            <div :class="{'row': true, 'vh--100': isPopupVisible}">
                <div class="col-12">
                    <div :class="{'content': true, 'blurred': isPopupVisible}">
                        <h5 class="text-center" v-if="feedLine.length === 0">

                        </h5>

                        <balance-is-empty></balance-is-empty>
                        <transition-group name="list" tag="div">
                            <div v-for="feedItem in feedLine" :key="feedItem.id"
                                 :class="{'post-pane': true, 'liked': feedItem.liked}">
                                <post-item :feedItem=feedItem></post-item>
                            </div>
                        </transition-group>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
  import {apiClient} from './../../utils/httpClient'
  import PageUnderDev from './../shared/PageUnderDev'
  import BalanceIsEmpty from './../shared/notifications/BalanceIsEmpty'
  import SliderPost from './SliderPost'
  import PostMenuOwn from './PostMenuOwn'
  import PostMenuOdc from './PostMenuOdc'
  import PostMenuOther from './PostMenuOther'
  import BlurWindow from './../BlurWindow'
  import PostItem from './PostItem'

  export default {
    name: 'FeedSingle',
    data() {
      return {
        likesCounter: 0,
        itemsWithCommentsOpened: [],
        itemsWithTextExpanded: [],
        feedLine: [],
        likeTimers: [],
        itemsWithLikeInProgress: [],
        commentText: '',
        isPostingComment: false
      }
    },
    created() {
      this.$store.commit('hidePopup')
      this.$store.commit('disableLikeFilter', 'feed')
      this.fetchSingle(this.$route.params.id)
    },
    methods: {
      fetchSingle(id) {
        apiClient.get(`/feeds/${id}`)
          .then(res => {
            if (res.status === 200) {
              const items = [].concat(res.data.data.feed)
              const items_ = items.map(x => {
                x['liked'] = x.is_liked
                x['fund_count'] = x.fund_count.toFixed(2)
                return x
              })
              this.feedLine = items_
            }
          })
          .catch(err => console.error(err))
      }
    },
    filters: {
      truncate(string, number) {
        return string.substring(0, number) + '...'
      }
    },
    components: {
      PageUnderDev,
      BalanceIsEmpty,
      SliderPost,
      PostMenuOwn,
      PostMenuOdc,
      PostMenuOther,
      BlurWindow,
      PostItem,
    },
    computed: {
      isPopupVisible() {
        return this.$store.state.isPopupOpened
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .slide-down-enter-active {
        transition: all .3s ease;
    }

    /* .slide-down-leave-active {
      transition: all .1s ease;
    } */
    .slide-down-enter {
        transform: translateY(-10px);
        opacity: 0;
    }

    .content {
        padding-top: 0;
        padding-bottom: 60px;
        margin-top: 10px;
        z-index: 100;
    }

    .postLikes {
        margin-left: 30px;
    }

    @media (min-width: 992px) {
        .content {
            padding-top: 45px;
        }
    }

    .post-pane {
        border-radius: 21px;
        background-color: #ffffff;
        /* padding: 40px; */
        padding-bottom: .5rem;
        margin-bottom: 1.4rem;
        box-shadow: 0 0 9px 0 #ffffff;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
    }

    .post-image {
        border-radius: 19px;
        position: relative;
        user-select: none;
    }

    .post-image > .liked {
        /* background-image: radial-gradient(circle at 50% 8%, #ff5c5c, #5300ff); */
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 7px #5300ff;
        border-radius: 16px;
        top: 0;
        left: 0;
        user-select: none;
    }

    .post-image > img {
        max-width: 100%;
        min-width: 100%;
        border-radius: 16px;
        position: relative;
        /* border: 7px solid transparent; */
    }

    .post-author-img {
        width: 25px;
        height: 25px;
        margin-top: 1rem;
        border-radius: 50%;
    }

    .post-username {
        font-family: Muller-Bold;
        margin-top: 1.3rem;
        margin-bottom: .6rem;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .post-text {
        font-family: Muller-Medium;
        font-size: 11px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
    }

    /* // Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        .post-username {
            font-size: 16px;
        }

        .post-text {
            font-size: 13px;
        }
    }

    .post-info {
        font-family: Muller-Medium;
        padding-top: .8rem;
    }

    .post-info__entry {
        vertical-align: middle;
        margin-bottom: .4rem;
    }

    .post-info__entry-img {
        text-align: center;
    }

    .post-info__entry-img > img {
        max-height: 13px;
    }

    .post-info__entry-text {
        padding-top: .15rem;
        font-size: 13px;
    }

    .post-more-comments {
        margin-top: -3px;
    }

    .comment-username {
        font-family: Muller-Bold;
        margin-top: 12px;
        margin-bottom: .3rem;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .comment-text {
        font-family: Muller-Medium;
        font-size: 11px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
    }

    .like-animation {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .like-animation > img {
        margin: 0;
        width: 50%;
    }

    .zoomIn-enter-active {
        animation: zoomIn .5s;
    }

    .zoomIn-leave-active {
        animation: zoomIn .5s reverse;
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }

        50% {
            opacity: 1;
        }
    }

    .list-move {
        transition: transform 1s;
    }

    .list-enter-active, .list-leave-active {
        transition: all .5s;
    }

    .list-enter, .list-leave-to {
        opacity: 0;
        transform: translateY(-50px);
    }

    .add-button {
        background-color: greenyellow;
        border: 2px solid red;
        color: black;
    }

    .post-comment-input {
        border-radius: 7px;
        box-shadow: 0 0 10px 0 rgba(82, 0, 255, 0.3);
        background-color: #ffffff;
        border: solid 1px #5300ff;
        width: 90%;
        margin-top: 1rem;
        padding-left: 10px;
        font-family: Muller-Medium;
        /* font-size: 11px; */
        opacity: 0.5;
    }

    .post-comment-input:focus {
        opacity: 1;
        outline: none;
    }

    .postLikes img {
        width: 40px;
        height: 40px;
    }

    .post-info-row {
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .post-comments {
        margin: 0 auto;
        text-align: center;
    }

    .postVerticalDots {
        margin-left: 88%;
        margin-top: -30px;
    }


</style>
