<template>
  <div class="row">

    <div class="col-12 col-lg-5">
      <page-under-dev section="Stories" v-if="isPopupVisible"></page-under-dev>

      <div :class="{'row': true, 'vh--100': isPopupVisible}">
        <div class="col-12 feed-content">
          <stories-mobile></stories-mobile>
          <div :class="{'content': true, 'blurred': isPopupVisible}">

            <preloader v-if="isLoadingFeeds"></preloader>
            <h5 class="ffeed-content__empty" v-if="likedOnly === false && isLoadingFeeds === false && feedLine.length === 0">
                <div class="info info--center">
                  <p class="info__line">Your feed is empty.</p>
                  <p class="info__line">Start following somebody.</p>
                </div>
                <div class="following">
                  <div class="following__title">
                    Recommended for you:
                  </div>
                  <div class="following__recommended">
                    <div v-for="account in recommendedUsers" :key="account.id">
                        <customer-follow :account="account"></customer-follow>
                    </div>
                  </div>
                </div>
            </h5>

            <h5 class="ffeed-content__empty" v-if="likedOnly === true && isLoadingFeeds === false && feedLine.length === 0">
                <div class="info info--center">
                  <p class="info__line">You didn't like any posts</p>
                </div>
            </h5>
            <transition-group name="list" tag="div">
              <div v-for="feedItem in feedLine" :key="feedItem.id" :class="{'post-pane': true, 'liked': feedItem.liked}">
                  <post-item :feedItem="feedItem"></post-item>
              </div>
            </transition-group>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import StoriesMobile from './StoriesMobile'
import { apiClient } from './../../utils/httpClient'
import { isScrolledToBottom, getScrollDirection } from './../../utils/window'
import PageUnderDev from './../shared/PageUnderDev'
import Preloader from './../Preloader'
import CustomerFollow from './../Customer/CustomerFollow'
import PostItem from './PostItem'

let useCache = false

export default {
  name: 'Feed',
  data () {
    return {
      likesCounter: 0,
      itemsWithCommentsOpened: [],
      itemsWithTextExpanded: [],
      recommendedUsers: [],
      feedLine: [],
      likeTimers: [],
      scrolledToBottom: false,
      pageOffset: 1,
      itemsWithLikeInProgress: [],
      commentText: '',
      isPostingComment: false,
      isLoadingFeeds: false,
    }
  },
  beforeRouteEnter (to, from, next) {
    useCache = !!from.meta.showBackArrow
    next()
  },
  mounted () {
    this.$store.commit('hidePopup')
    this.$store.commit('disableLikeFilter', 'feed')
    this.fetchData()
    window.addEventListener('scroll', this.onScroll)
    this.getScrollDirection = getScrollDirection()
  },
  destroyed () {
    window.removeEventListener('scroll', this.onScroll)
    // clearInterval(this.toggleTopBlockTimeout)
    clearTimeout(this.scrollTimeout)
  },
  methods: {
    onScroll () {
      if (this.$store.state.stories.activeId !== -1) {
        return
      }

      clearTimeout(this.scrollTimeout)
      this.scrollTimeout = setTimeout(() => {
        this.scrolledToBottom = isScrolledToBottom()
      }, 250)
    },
    fetchData (page = 1, liked = false, force = false) {

      apiClient.get('/users/recommended')
      .then(res => {
        if (res.status === 200) {
          this.recommendedUsers = res.data.data.users
        }
      })
      .catch(err => console.error(err))

      if (useCache && !force) {
        this.feedLine = this.$store.state.cache.feed.items

        this.pageOffset = this.$store.state.cache.feed.page
        return
      }
      let url = '/my/subscriptions/feeds?page=' + page
      if (liked === true) {
        url = '/feeds/liked?page=' + page
      }
      this.isLoadingFeeds = true
      apiClient.get(url)
        .then(res => {
          this.isLoadingFeeds = false
          if (res.status === 200) {
            this.insertItems(res.data.data.feeds)
          }
        })
        .catch(err => {
          this.isLoadingFeeds = false
          console.error(err)
        })
    },
    insertItems (items) {
      const items_ = items.map(x => {
        x['liked'] = x.is_liked
        x['fund_count'] = x.fund_count.toFixed(2)
        return x
      })
      if (this.pageOffset > 1) {
        this.feedLine = this.feedLine.concat(items_)
      } else {
        this.feedLine = items_
      }
      console.log(this.feedLine)
      this.$store.commit('updateCache', {
        type: 'feed',
        items: this.feedLine,
        page: this.pageOffset
      })
    }
  },
  filters: {
    truncate (string, number) {
      return string.substring(0, number) + '...'
    }
  },
  components: {
    StoriesMobile,
    PageUnderDev,
    Preloader,
    CustomerFollow,
    PostItem,
  },
  computed: {
    sliderMaxValue () {
      return this.$store.state.balance
    },
    likedOnly () {
      return this.$store.state.likeFilter.feed
    },
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    isAuthorized () {
      return this.$store.state.jwtToken != null
    },
    userInfo () {
      return this.$store.state.userInfo
    }
  },
  watch: {
    scrolledToBottom (newVal) {
      if (newVal) {
        this.pageOffset += 1
        this.fetchData(this.pageOffset, this.likedOnly, true)
      }
    },
    likedOnly (newVal) {
      this.pageOffset = 1
      this.fetchData(this.pageOffset, newVal)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.following {
  margin-top: 2rem;
  &__title {
    color: #5300ff;
    height: 14px;
    text-align: center;
    font-family: Muller;
  }
  &__recommended {
    padding-top: 1rem;
  }
}
.info {
  font-size: 20px;
  font-weight: 600;
  color: #5300ff;
  font-family: Muller;
  margin-top: 2rem;
  &--center {
    text-align: center;
  }
  &__line {
    margin-bottom: 0.5rem;
  }
}
.slide-down-enter-active {
  transition: all .3s ease;
}
/* .slide-down-leave-active {
  transition: all .1s ease;
} */
.slide-down-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.content {
  padding-top: 0;
  padding-bottom: 60px;
  margin-top: 150px;
  z-index: 100;
}

@media (min-width: 992px) {
  .content {
    padding-top: 45px;
  }
}

.post-pane {
  border-radius: 21px;
  background-color: #ffffff;
  /* padding: 40px; */
  padding-bottom: .5rem;
  margin-bottom: 1.4rem;
  box-shadow: 0 0 9px 0 #ffffff;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.post-image {
  border-radius: 19px;
   position: relative;
   user-select: none;
}
.postLikes {
  margin-left: 30px;
}

.post-image > .liked {
    user-select: none;
}

.post-image > img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 16px;
  position: relative;
  /* border: 7px solid transparent; */
}

.post-author-img {
  width: 25px;
  height: 25px;
  margin-top: 1rem;
  border-radius: 50%;
}

.post-username {
  font-family: Muller-Bold;
  margin-top: 1.3rem;
  margin-bottom: .6rem;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.post-text {
  font-family: Muller-Medium;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-username {
    font-size: 16px;
  }

  .post-text {
    font-size: 13px;
  }
}

.post-info {
  font-family: Muller-Medium;
  padding-top: .8rem;
}

.post-info__comments {
  color: #5300ff !important;
}

.post-info__entry {
  vertical-align: middle;
  margin-bottom: .4rem;
}

.post-info__entry-img {
  text-align: center;
}

.post-info__entry-img > img {
  max-height: 13px;
}

.post-info__entry-text {
  padding-top: .15rem;
  font-size: 13px;
  color: #131f3c;
  font-size: 14px;
  font-weight: 600;
  font-family: Muller;
}

.post-more-comments {
  margin-top: -3px;
}

.comment-username {
  font-family: Muller-Bold;
  margin-top: 12px;
  margin-bottom: .3rem;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.comment-text {
  font-family: Muller-Medium;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.zoomIn-enter-active {
  animation: zoomIn .5s;
}
.zoomIn-leave-active {
  animation: zoomIn .5s reverse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.list-move {
  transition: transform 1s;
}

.list-enter-active, .list-leave-active {
  transition: all .5s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

.add-button {
  background-color: greenyellow;
  border: 2px solid red;
  color: black;
}

.post-comment-input {
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(82, 0, 255, 0.3);
  background-color: #ffffff;
  border: solid 1px #5300ff;
  width: 90%;
  margin-top: 1rem;
  padding-left: 10px;
  font-family: Muller-Medium;
  /* font-size: 11px; */
  opacity: 0.5;
}

.post-comment-input:focus {
  opacity: 1;
  outline: none;
}
/*.postLikes {*/
  /*margin-left: 30px;*/
/*}*/

.post-comment-input:focus {
  opacity: 1;
  outline: none;
}

.postLikes img{
  width: 40px;
  height: 40px;
}
.post-info-row {
  justify-content: space-between;
  position: relative;
  top: 12px;
  width: 100%;
}
.post-comments {
  margin: 0 auto;
  text-align: center;
}
.postVerticalDots {
  margin-left:88%;
  margin-top: -30px;
}


</style>
