<template>
    <div class="post-menu-own">
        <div class="post-menu-own1 p-3">
            <p class="post-menu-own__delete">Delete</p>
            <p>Edit</p>
            <p>Copy link</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PostMenuOwn"
    }
</script>

<style scoped>
    div.post-menu-own{
        z-index: 9999 !important;
        position: absolute;
        width: 100%;
    }
    div.post-menu-own1{
        float: right;
        width: 170px;
        height: 132px;
        border-radius: 21px;
        background-color: #ffffff;
        box-shadow: 0 0 3px 0 rgba(83, 0, 255, 0.73);
        color: #5300ff;
        z-index: 110 !important;
    }
    .post-menu-own__delete{
        color: #f0536a;
    }
</style>