<template>
    <div class="post-leaderboard">
        <div class="post-leaderboard1">
            <span class="post-leaderboard1__OO">OO</span>
            <img class="post-leaderboard1__avatar" src="./../../assets/shenok.jpg" alt="">
            <span class="post-leaderboard1__name">Name</span>
        </div>
        <div class="post-leaderboard2">
            <span class="post-leaderboard2__mnr">27 MNR</span>
            <span> = $0.21</span>
        </div>
    </div>
</template>

<script>
  export default {
    name: "PostLeaderboard"
  }
</script>

<style scoped>
    .post-leaderboard{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 338px;
        height: 46px;
        border-radius: 14px;
        background: #ffffff;
        box-shadow: 0 0 9px 0 #ffffff;
        padding: 0 10px;
    }
    .post-leaderboard1__avatar{
        width: 34px;
        height: 34px;
        border-radius: 7px;
    }
    .post-leaderboard1__OO {
        font-weight: bold;
    }
    .post-leaderboard1__name {
        font-weight: bold;
    }
    .post-leaderboard2__mnr{
        font-weight: bold;
    }

</style>