<template>
    <div class="post-menu-odc">
        <div class="post-menu-odc1">
            <p class="m-4 pt-1">Cancel</p>
            <p class="post-menu-odc1__delete m-4 pt-4">Delete</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PostMenuOdc"
    }
</script>

<style scoped>
    .post-menu-odc {
        display: none;
        z-index: 110;
        position: absolute;
        width: 100%;
    }
    .post-menu-odc1{
        float: right;
        width: 170px;
        height: 132px;
        border-radius: 21px;
        background-color: #ffffff;
        box-shadow: 0 0 3px 0 rgba(83, 0, 255, 0.73);
        color: #5300ff;

    }
     .post-menu-odc1__delete{
         color:#f0536a;
     }

</style>