<template>
    <div class="post-item">
        <div @click="toggleLike(feedItem)" :class="{ 'post-image': true }">
            <img :src="feedItem.image.url" alt="Post Image">
            <div v-if="feedItem.is_liked" class="liked"></div>
            <transition name="zoomIn">
            <div class="like-animation" v-if="itemsWithLikeInProgress.indexOf(feedItem.id) !== -1">
                <img src="@/assets/like.svg" alt="Liked">
            </div>
            </transition>
        </div>
        <div class="row post-info-row">
            <div class="postLikes">
            <div class="row">
                <div class="col-4 post-info__entry-img pr-0">
                  <svg v-bind:class="{ entry_img__active : IsActiveStyleImg }" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                    <g fill="none" fill-rule="evenodd" transform="translate(-5 -5)">
                      <circle cx="12" cy="12" r="12"/>
                      <g fill="#5300FF">
                        <path d="M19.09 10.623h-1.625c-.253 0-.318-.155-.327-.388-.066-1.31-.71-2.17-1.887-2.17s-1.85.464-1.85 1.767c0 .25-.14.388-.364.388H11.41c-.252 0-.392-.138-.392-.388l.009.021c0-1.302-.654-1.787-1.83-1.787-1.178 0-1.85.859-1.85 2.161 0 .257-.14.396-.393.396H5.358c-.252 0-.392-.139-.392-.388v.075c0-2.632 1.681-4.517 4.231-4.517 1.29 0 2.383.693 3.027 1.69.645-.997 1.71-1.69 3.027-1.69 2.55 0 4.203 1.796 4.203 4.429 0 .262-.14.4-.364.4zM12.37 19.96a.298.298 0 0 1-.406-.002l-4.916-4.563c-1.282-1.188-1.966-2.325-2.08-3.463a.309.309 0 0 1 .3-.346h1.745a.3.3 0 0 1 .292.232c.084.36.382.958 1.306 1.814l3.367 3.125c.114.106.29.107.405.001l3.432-3.132c.919-.85 1.216-1.448 1.3-1.808a.3.3 0 0 1 .292-.231h1.744c.182 0 .32.16.302.345-.115 1.138-.8 2.275-2.082 3.464l-5.002 4.563z"/>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="col-6 post-info__entry-text pl-3"><strong>{{ feedItem.likes_count }}</strong></div>
            </div>
            </div>
            <slider-post v-if="feedItem.is_liked && sliderMaxValue > 0" @changed="changeSlider" :max=sliderMaxValue :object="feedItem"></slider-post>
            <div class="post-info-dollar">
            <div class="row">
                <div class="col-12 post-info__entry-text post-info__entry-text--coin"><span>{{ feedItem.token_count }} MNR</span></div>
            </div>
            <div class="row">
                <div class="col-12 post-info__entry-text"><span>${{ feedItem.fund_count }}</span></div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-right pr-0">
            <img v-if="feedItem.owner.image == null" src="@/assets/profile/empty-avatar.svg" class="post-author-img pseudo-link" alt="">
            <img v-if="feedItem.owner.image != null" @click="goToPersonal(feedItem)" class="post-author-img pseudo-link" :src="feedItem.owner.image.url" alt="">
            </div>
            <div class="col-6">
            <div class="post-username pseudo-link" @click="goToPersonal(feedItem)">{{ feedItem.owner.name }}</div>
            <div class="post-text" @click="toggleTextExpanded(feedItem)">
                {{ getText(feedItem) }}
            </div>
            </div>
            <div class="col-4 post-info pl-0" @click="toggleLike(feedItem)">

            </div>
        </div>
        <div class="row">
            <div class="col-8 post-comments">
            <div class="post-info__entry" @click="toggleComments(feedItem)">
                <div class="row">
                <div class="col-12 post-info__entry-text post-info__comments pl-3"><span style="font-family: Muller-Medium">{{ feedItem.comments_count }} comments</span></div>
                </div>
            </div>
            </div>
            <div class="postVerticalDots">
            <div class="text-center mt-0 pseudo-link" @click="toggleComments(feedItem)">
                <img src="@/assets/posts/vertical-dots.svg" alt="More comments">
            </div>
            </div>
        </div>
        <transition name="slide-down">
            <div v-if="hasOpenedComments(feedItem)" class="mb-3">
            <div class="row" v-for="comment in feedItem.comments" :key="comment.id">
                <div class="col-2 pr-0 text-right">
                <img class="post-author-img" v-if="comment.user.image != null" :src="comment.user.image.url" alt="Avatar">
                <img class="post-author-img" v-if="comment.user.image == null" src="@/assets/profile/empty-avatar.svg" alt="Avatar">
                </div>
                <div class="col-10">
                <div class="comment-username">{{ comment.user.name }}</div>
                <div class="comment-text">{{ comment.comment }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 pr-0 text-right">
                <img class="post-author-img" v-if="userInfo.image == null" src="@/assets/profile/empty-avatar.svg" alt="Avatar">
                <img class="post-author-img" v-if="userInfo.image != null" :src="userInfo.image.url" alt="Avatar">
                </div>
                <div class="col-10">
                <form @submit.prevent="postComment(feedItem)">
                    <input type="text" @focus="hideStories" @blur="showStories" v-model="commentText" :disabled="isPostingComment" class="post-comment-input" placeholder="your comment">
                </form>
                </div>
            </div>
            </div>
        </transition>
    </div>
</template>

<script>
// @TODO отрефачить
import { apiClient } from './../../utils/httpClient'
import { isScrolledToBottom, getScrollDirection } from './../../utils/window'
import SliderPost from './SliderPost'
import { likes } from '@/assets/posts/likes.svg'



export default {
  name: 'PostItem',
  props: [
      'feedItem'
  ],
  data () {
    return {
      likesCounter: 0,
      itemsWithCommentsOpened: [],
      itemsWithTextExpanded: [],
      recommendedUsers: [],
      feedLine: [],
      likeTimers: [],
      scrolledToBottom: false,
      pageOffset: 1,
      itemsWithLikeInProgress: [],
      commentText: '',
      isPostingComment: false,
      isLoadingFeeds: false,
      IsActiveStyleImg: false
    }
  },
  methods: {
    changeSlider (tokenCnt, feed) {
      let fd = new FormData()
      fd.append('token_count', tokenCnt)
      apiClient.post(`/feeds/${feed.id}/like`, fd)
            .then(res => {
              console.log(res)
            })
            .catch(error => {
              this.$store.commit('showIsBalanceEmpty')
            })
    },
    toggleComments (item) {
      const idx = this.itemsWithCommentsOpened.findIndex(x => x === item.id)
      if (idx !== -1) {
        this.itemsWithCommentsOpened.splice(idx, 1)
      } else {
        this.itemsWithCommentsOpened.push(item.id)
      }
    },
    hasOpenedComments (item) {
      const idx = this.itemsWithCommentsOpened.findIndex(x => x === item.id)
      return idx !== -1
    },
    getText (item, number = 70) {
      if (item.description == null) {
        return ''
      }
      if (this.hasTextExpanded(item)) {
        return item.description
      }
      return this.hasOpenedComments(item)
         ? item.description
         : item.description.substring(0, number) + '...'
    },
    hasTextExpanded (item) {
      const idx = this.itemsWithTextExpanded.findIndex(x => x === item.id)
      return idx !== -1
    },
    toggleTextExpanded (item) {
      const idx = this.itemsWithTextExpanded.findIndex(x => x === item.id)
      if (idx !== -1) {
        this.itemsWithTextExpanded.splice(idx, 1)
      } else {
        this.itemsWithTextExpanded.push(item.id)
      }
    },
    toggleLike (item) {
      let defaultTokens = 3
      if (this.$store.state.balance < defaultTokens) {
          defaultTokens = this.$store.state.balance
      }
      if (this.likeTimers.indexOf(item.id) !== -1) {
        const idx = this.feedLine.findIndex(x => x.id === item.id)
        this.IsActiveStyleImg = true
        let feedItem = item
        const isLiked = feedItem.is_liked
        if (isLiked) {
          this.IsActiveStyleImg = false
          feedItem.likes_count = +feedItem.likes_count - 1
          feedItem.fund_count = (+feedItem.fund_count - 0.05).toFixed(2)
          this.$store.commit('setLikesCounter', this.$store.state.likesCounter - 1)
        } else {
          if (this.$store.state.balance < defaultTokens) {
            this.$store.commit('showIsBalanceEmpty')
            return
          }
          feedItem.likes_count = +feedItem.likes_count + 1
          feedItem.fund_count = (+feedItem.fund_count + 0.05).toFixed(2)
          this.$store.commit('setLikesCounter', this.$store.state.likesCounter + 1)
          this.itemsWithLikeInProgress.push(item.id)
          setTimeout(() => {
            this.itemsWithLikeInProgress.splice(this.itemsWithLikeInProgress.indexOf(item.id), 1)
          }, 1000)
        }
        feedItem.is_liked = !isLiked
        if (feedItem.is_liked === true) {
          this.changeSlider(defaultTokens, feedItem)
        }
      } else {
        this.likeTimers.push(item.id)
        setTimeout(() => {
          this.likeTimers.splice(this.likeTimers.indexOf(item.id), 1)
        }, 300)
      }
    },
    goToPersonal (item) {
      this.$router.push(`/user/${item.owner.id}`)
    },
    postComment (feedItem) {
      this.isPostingComment = true
      let fd = new FormData()
      fd.append('comment', this.commentText)
      apiClient.post(`feeds/${feedItem.id}/comment`, fd)
        .then(res => {
          if (res.status === 200) {
            const obj = {
              comment: this.commentText,
              user: this.userInfo
            }
            feedItem.comments.push(obj)
            this.commentText = ''
            this.isPostingComment = false
          }
        })
        .catch(err => console.error(err))
    },
    hideStories () {
      this.$store.commit('setIsTopBlockVisible', false)
    },
    showStories () {
      this.$store.commit('setIsTopBlockVisible', true)
    }
  },
  filters: {
    truncate (string, number) {
      return string.substring(0, number) + '...'
    }
  },
  components: {
    SliderPost,
  },
  computed: {
    sliderMaxValue () {
      if (this.$store.state.balance <= 19) {
        return this.$store.state.balance;
      }
      return 19
    },
    likedOnly () {
      return this.$store.state.likeFilter.feed
    },
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    isAuthorized () {
      return this.$store.state.jwtToken != null
    },
    userInfo () {
      return this.$store.state.userInfo
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.following {
  margin-top: 2rem;
  &__title {
    color: #5300ff;
    height: 14px;
    text-align: center;
    font-family: Muller;
  }
  &__recommended {
    padding-top: 1rem;
  }
}
.info {
  font-size: 20px;
  font-weight: 600;
  color: #5300ff;
  font-family: Muller;
  margin-top: 2rem;
  &--center {
    text-align: center;
  }
  &__line {
    margin-bottom: 0.5rem;
  }
}
.slide-down-enter-active {
  transition: all .3s ease;
}
/* .slide-down-leave-active {
  transition: all .1s ease;
} */
.slide-down-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.content {
  padding-top: 0;
  padding-bottom: 60px;
  margin-top: 150px;
  z-index: 100;
}

@media (min-width: 992px) {
  .content {
    padding-top: 45px;
  }
}

.post-pane {
  border-radius: 21px;
  background-color: #ffffff;
  /* padding: 40px; */
  padding-bottom: .5rem;
  margin-bottom: 1.4rem;
  box-shadow: 0 0 9px 0 #ffffff;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.post-image {
   border-radius: 19px;
   position: relative;
   user-select: none;
}
.postLikes {
  margin-left: 30px;
}

.post-image > .is_liked {
    user-select: none;
}

.post-image > img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 16px;
  position: relative;
  /* border: 7px solid transparent; */
}

.post-author-img {
  width: 25px;
  height: 25px;
  margin-top: 1rem;
  border-radius: 50%;
}

.post-username {
  font-family: Muller-Bold;
  margin-top: 1.3rem;
  margin-bottom: .6rem;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.post-text {
  font-family: Muller-Medium;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-username {
    font-size: 16px;
  }

  .post-text {
    font-size: 13px;
  }
}

.post-info {
  font-family: Muller-Medium;
  padding-top: .8rem;
}

.post-info__comments {
  color: #5300ff !important;
}

.post-info__entry {
  vertical-align: middle;
  margin-bottom: .4rem;
}

.post-info__entry-img {
  text-align: center;
}

.post-info__entry-img > img {
  max-height: 13px;
}

.entry_img__active {
  path {
    fill: red;
  }
}

.post-info__entry-text {
  line-height: 1.2rem;
  font-size: 13px;
  color: #131f3c;
  font-size: 14px;
  font-weight: 600;
  font-family: Muller;
}

.post-info__entry-text--coin {
  padding-bottom: 8px;
}

.post-more-comments {
  margin-top: -3px;
}

.comment-username {
  font-family: Muller-Bold;
  margin-top: 12px;
  margin-bottom: .3rem;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.comment-text {
  font-family: Muller-Medium;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.zoomIn-enter-active {
  animation: zoomIn .5s;
}
.zoomIn-leave-active {
  animation: zoomIn .5s reverse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.list-move {
  transition: transform 1s;
}

.list-enter-active, .list-leave-active {
  transition: all .5s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

.add-button {
  background-color: greenyellow;
  border: 2px solid red;
  color: black;
}

.post-comment-input {
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(82, 0, 255, 0.3);
  background-color: #ffffff;
  border: solid 1px #5300ff;
  width: 90%;
  margin-top: 1rem;
  padding-left: 10px;
  font-family: Muller-Medium;
  /* font-size: 11px; */
  opacity: 0.5;
}

.post-comment-input:focus {
  opacity: 1;
  outline: none;
}
/*.postLikes {*/
  /*margin-left: 30px;*/
/*}*/

.post-comment-input:focus {
  opacity: 1;
  outline: none;
}

.postLikes img{
  width: 40px;
  height: 40px;
}
.post-info-row {
  justify-content: space-between;
  position: relative;
  top: 12px;
  width: 100%;
}
.post-comments {
  margin: 0 auto;
  text-align: center;
}
.postVerticalDots {
  margin-left:88%;
  margin-top: -30px;
}

</style>
