<template>
    <div class="post-menu-other pt-5">
        <div class="post-menu-other1 p-3">
            <p>Report</p>
            <p>Copy link</p>
        </div>
    </div>
</template>

<script>
  export default {
    name: "PostMenuOther"
  }
</script>


<style scoped>
    div.post-menu-other {
        display: none;
        z-index: 110;
        position: absolute;
        width: 100%;
    }

    .post-menu-other1 {
        float: right;
        width: 170px;
        height: 90px;
        border-radius: 21px;
        background-color: #ffffff;
        box-shadow: 0 0 3px 0 rgba(83, 0, 255, 0.73);
        color: #5300ff;
        z-index: 110;
    }

</style>