<template>
    <div class="buttonsSelect">

    </div>
</template>

<script></script>

<style scoped>
    .buttonsSelect{
        background: #000;
        width: 100%;
        height: 40px;
    }

</style>