<template>
    <div class="slider">
        <span>{{ step }}</span> MNR
        <input type="range" step="1" min="0" :max="max" v-model="step" v-on:change="change" v-bind:disabled="disabled">
    </div>
</template>

<script>
export default {
  name: "SliderPost",
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    max: {
      type: Number,
      required: false,
      default: 19
    },
    emitOnMounted: {
      type: Boolean,
      required: false,
      default: false
    },
    object: {},
  },
  mounted () {
    if (this.max < this.step) {
      this.step = this.max
    }
    let currentToken = parseInt(this.object.my_token_count)
    if (this.object.is_liked && isNaN(currentToken) === false) {
      this.step = currentToken
    }

    if (this.emitOnMounted) {
      this.runEvent() 
    }
  },
  data: () => ({
    step: 3
  }),
  methods: {
    runEvent () {
      this.$emit("changed", this.step, this.object)
    },
    change () {
      this.runEvent()
    }
  }
};
</script>


<style scoped>
.slider {
  text-align: center;
  width: 130px;
  font-weight: 600;
  font-family: Muller;
}

.slider input[disabled="disabled"] {
  opacity: 0.3;
}

input[type="range"] {
  width: 120px;
  -webkit-appearance: none;
  background: linear-gradient(to left, #ff5697, #8d56ff);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  -webkit-appearance: none;
  height: 14px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #f0536a;
  margin-top: -6px;
}
</style>