<template>
  <div class="row d-block d-lg-none sticky-top wrapper">
    <transition 
    name="animate-css-slide"
    enter-active-class="animated slideInDown"
    leave-active-class="animated slideOutUp"
    >
      <div :class="{' col-12 ': true, 'blurred': isPopupVisible}" id="stories-wrapper" v-show="isTopBlockVisible">
        <div class="row">
          <div class="col-12 main-line stories">
            <div class="title" @click="hiddenStories = !hiddenStories">Stories</div>
            <div class="inner stories__wrap" v-bind:class="{ 'stories__wrap--up': isHiddenStories }">
              <div class="add-stories" v-show="isAddStoriesVisible" @click="addStories">
                <div class="plus-wrapper">
                  <img src="@/assets/shared/plus.svg" alt="">
                </div>
              </div>
              <table style="direction: ltr;">
                <transition-group name="slide-fade" tag="tr">
                  <td v-for="(account, index) in accounts" :key="account.id" @click="showStory(account)">
                    <div :class="{'account-pane': true, 'account-pane__last': index === accounts.length - 1}">
                      <table>
                        <tr>
                          <td class="image-cell">
                            <div class="image-cell-wrapper">
                              <img draggable="false" :src="account.img">
                            </div>
                          </td>
                          <td class="content-cell">
                            <div :class="{'collapsible': true }" :id="account.id">
                              <div class="last-seen">{{ calcTimeAgo(index) }}</div>
                              <div class="username">{{ account.name }}</div>
                              <div class="rating">
                                <img v-show="account.id % 3 === 0" src="@/assets/stories/stars-5.svg">
                                <img v-show="account.id % 3 !== 0" src="@/assets/stories/stars-4.svg">
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </transition-group>
              </table>
            </div>
          </div>
          <div :class="{ 'col-12 likes-line': true, 'active': isLikeFilterActive }" @click="toggleLikeFilter">
            <div class="row">
              <div class="col-4 like-line__item">Liked</div>
              <div class="col-4 like-line__item text-center">{{ likesCounter }}</div>
              <div class="col-4 like-line__item text-right">
                <div style="margin-top: -2px;">
                  <img v-if="likesCounter < 200" src="@/assets/shared/2-star.svg">
                  <img v-if="likesCounter >= 200" src="@/assets/shared/3-star.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Swipe from './../../utils/swipe'
import { apiClient } from './../../utils/httpClient'

// @TODO cache stories

export default {
  name: 'StoriesMobile',
  props: {
    blockHeight: {
      type: Number,
      default: 83,
      required: false
    }
  },
  data: () => ({
    hiddenStories: false
  }),
  mounted () {
    this.hiddenStories = false
    this.$store.watch((state) => this.$store.state.scroll.position, (val) => this.hiddenStories = this.$route.name === 'feed' && val >= 100)
    apiClient.get("/stories")
        .then(res => {
          if (res.status === 200) {
            let stories = res.data.data.stories.map((i) => {
              return {id: i.id, img: i.image.url, name: i.owner.name}
            })
            this.$store.commit('storiesSetActive', stories)
          }
        })
        .catch(err => console.error(err))

    var swiper = new Swipe('#stories-wrapper')
    swiper.onLeft(() => {
      this.$store.commit('storiesPush')
      const stories = this.$store.state.stories
      if (stories.activeId !== -1 && stories.active.length > 0) {
        this.$store.state.stories.activeId = stories.active[stories.active.length - 1].id
      }
    })
    swiper.onRight(() => { 
      this.$store.commit('storiesPop')
      const stories = this.$store.state.stories
      if (stories.activeId !== -1 && stories.active.length > 0) {
        this.$store.state.stories.activeId = stories.active[stories.active.length - 1].id
      }
    })
    swiper.onUp(function () {})
    swiper.onDown(function () {})
    swiper.run()
  },
  computed: {
    isHiddenStories () {
      return this.hiddenStories
    },
    likesCounter () { return this.$store.state.likesCounter },
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    isLikeFilterActive () {
      return this.$store.state.likeFilter['feed']
    },
    isAddStoriesVisible () {
      return this.$route.name === 'feed'
    },
    accounts () {
      return this.$store.state.stories.active
    },
    isTopBlockVisible () {
      // if (this.$route.name === 'feedPost') {
      //   return true
      // }
      return this.$store.state.isTopBlockVisible
    }
  },
  methods: {
    toggleLikeFilter () {
      this.$store.commit('toggleLikeFilter', 'feed')
    },
    showStory (/*data*/) {
      const active = this.$store.state.stories.active
      if (active.length) {
        const story = active[active.length - 1]
        this.$store.commit('storiesSetActiveId', story.id)
        this.$router.push('/stories')
      }
      // this.$store.commit('storiesSetActiveId', data.id)
    },
    calcTimeAgo (index) {
      return 'just now'
    },
    addStories () {
      // this.$store.commit('showPopup')
      this.$router.push('/add/stories')
    }
  }
}
</script>

<style lang="scss" scoped>

.stories {
  &__wrap {
    height: 83px;
    transition: all .3s ease-in-out;
    &--up {
      height: 0px;
    }
  }
}

.list-item {
  display: inline-block;
  margin-right: 10px;
} 

.slide-fade-enter-active {
  transition: all 500ms ease;
}
.slide-fade-leave-active {
  transition: all 300ms ease;
  /* transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(200px);
  opacity: 0;
}


.collapsible {
  /* -webkit-transition: width 100ms; */
  /* transition: width 100ms; */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 30px; 
  width: 100px;
  /* width: 0px; */
}

.wrapper {
  position: fixed;
  z-index: 100;
  padding-top: 0;
  top: 44px;
  user-select: none;
  cursor: pointer;
}

.main-line {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
}

.likes-line {
  background-image: radial-gradient(circle at 50% 0, #f8838d, #8246fe);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
  color: white;
  font-family: Muller-Medium;
  font-size: 1.1rem;
  height: 33px; 
}

.likes-line.active {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
}

.like-line__item {
  height: 100%;
  vertical-align: middle;
  margin-top: 5px;
}

.inner {
  padding-right: .7rem;
  width: 100vw;
  margin-left: -15px;
  position: relative;
  direction: rtl;
  overflow: hidden;
}

.title {
  font-family: Muller-Medium;
  color: white;
  font-size: 1.1rem;
  margin-top: .3rem;
  margin-bottom: -2px;
}

.account-pane {
  border-bottom-left-radius: 1rem;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
  margin-bottom: 0;
  /* width: 188px; */
  padding: 6px 8px;
  height: 74px;
  /* transition: margin 300ms; */
  margin-left: -37px;
  margin-left: -115px;
  position: relative;
}

.last-seen {
  font-family: Muller;
  font-size: 11.4px;
  line-height: 16px;
}

.username {
  font-family: Muller-Bold;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 6px;
  line-height: 14px;
}

.rating {
  margin-top: -10px;
}

.rating > img {
  max-height: 11px;
}

.image-cell {
  padding: 0;
}

.image-cell-wrapper {
  margin-top: -3px;
  background-color: red; 
  height: 62px; 
  width: 62px;
  border-radius: 50%;
  background-image: linear-gradient(26deg, #ff5c5c, #5300ff);
}

.image-cell-wrapper.read {
  background-image: linear-gradient(26deg, #fdabae, #ad82fa);
}

.image-cell-wrapper > img {
  height: 56px;
  width: 56px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
}

.content-cell {
  padding-left: .8rem;
  padding-right: .1rem;
  min-width: 35px;
}

.add-stories {
  position: absolute;
  width: 65px;
  z-index: 100;
  left: 0;
  top: 1px;
  height: 74px;
  bottom: 10px;
  background-color: white;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  font-size: 34px;
  -webkit-box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
  box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  border-radius: 50%;
  height: 39px;
  width: 39px;
  padding: 0;
}
.plus-wrapper img {
  vertical-align: baseline;
}

.animate-css-slide {
  -webkit-backface-visibility: hidden;
	-webkit-transform: scale(1);
}
</style>
