<template>
  <transition name="fade" v-if="isBalanceEmptyVisible">
    <div class="balance-is-empty">
      <div class="row">
        <div class="col-7 pr-0">
          <div class="balance-is-empty-title">Sorry, you can't like</div>
          <div class="balance-is-empty-subtitle">There is not enough mōn</div>
        </div>
        <div class="col-5">
          <div class="balance-is-empty-mon">
            {{ balance }} mōn
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'BalanceIsEmptyNotification',
  computed: {
    isBalanceEmptyVisible () {
      return this.$store.state.isBalanceEmptyVisible
    },
    balance () {
      return this.$store.state.balance
    }
  }
}
</script>

<style>
.balance-is-empty {
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 21px 0 #5300ff;
  position: fixed;
  top: 160px;
  left: 15px;
  right: 15px;
  z-index: 110;
}

@media (min-width: 576px) {
  .balance-is-empty {
    margin: 0 auto;
    max-width: 450px;
    top: 55px;
  }
}

.balance-is-empty-title {
  height: 18px;
  font-family: Muller;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #131f3c;
  padding: 12px 0 15px 20px;
}

.balance-is-empty-subtitle {
  height: 18px;
  font-family: Muller;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #131f3c;
  padding: 10px 0 25px 20px;
}

.balance-is-empty-mon {
  font-family: Muller;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5300ff;
  padding-top: 22px;
  padding-right: 15px;
  text-align: right;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
