<template>
  <transition name="fade">
    <div v-if="isVisible" @click="openWallet" class="d-block d-lg-none w-100 notification-wrapper" :style="{marginTop: marginTop + 'px'}">
      <div class="notification-content">
        <table class="w-100">
          <tr class="align-top">
            <td>
              <table>
                <tr>
                  <td>
                    <div class="who-liked-username">{{ info.liker.name }}</div>
                    <div class="did-action">liked your post</div>
                  </td>
                </tr>
                <tr>
                  <div class="balance">
                    <span class="font-purple">Balance: <strong>{{ info.balance }} mōn</strong></span> = ${{ info.balanceUsd }}
                  </div>
                </tr>
              </table>
            </td>
            <td class="who-liked-img">
              <img :src="info.liker.image" alt="Image">
            </td>
            <td class="post-img">
              <img :src="info.post.image" alt="Image">
              <div class="like-animation">
                <img src="@/assets/like.svg" alt="Liked"> 
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'SomeoneLiked',
  data () {
    return {
      initialYAxis: window.scrollY,
      marginTop: 140
    }
  },
  computed: {
    isVisible () {
      return this.$store.state.likeNotification != null
    },
    info () {
      if (this.$store.state.likeNotification != null) {
        return this.$store.state.likeNotification
      }
      return {
        liker: { name: '', image: '' },
        post: { image: '' },
        balance: 0,
        balanceUsd: 0
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.onScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll () {
      const scrollY = window.scrollY
      const delta = this.initialYAxis - scrollY
      if (delta > -200) {
        this.marginTop = 140 + delta
        if (this.marginTop < 0) {
          this.marginTop = 0
        }
        if (this.marginTop > 140) {
          this.marginTop = 140
        }
      } else {
        this.marginTop = 0
      }
    },
    openWallet () {
    }
  }
}
</script>

<style scoped>
.notification-wrapper {
  z-index: 110;
  position: fixed;
  top: 55px;
  margin: 0 auto;
  /* max-width: 450px; */
}

.notification-content {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 21px 0 #5300ff;
  margin-right: 15px;
  margin-left: 15px;
  max-width: 450px;
}

@media (min-width: 576px) { 
  .notification-content {
    margin: 0 auto;
  }  
}

.post-img {
  padding: 7px;
  width: 93px;
  position: relative;
}

.post-img > img {
  width: 79px;
  height: 79px;
  border-radius: 15px;
}

.who-liked-username {
  font-family: Muller-Bold;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 14px;
  padding-left: 14px;
}

.who-liked-img {
  padding-top: 7px;
  width: 49px;
}

.who-liked-img > img {
  width: 49px;
  border-radius: 15px;
}

.did-action {
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.balance {
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 14px;
  padding-top: 4px;
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
