<template>
  <transition name="fade">
    <div v-if="smbHasLiked" class="d-none d-lg-block w-100 notification-wrapper">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-5">
            <div class="notification-content">
              <table class="w-100">
                <tr class="align-top">
                  <td>
                    <table>
                      <tr>
                        <td>
                          <div class="who-liked-username">{{ liker.name }}</div>
                          <div class="did-action">liked your post</div>
                        </td>
                      </tr>
                      <tr>
                        <div class="balance">
                          <span class="font-purple">Balance: <strong>{{ balance }} mōn</strong></span> = ${{ balanceUsd }}
                        </div>
                      </tr>
                    </table>
                  </td>
                  <td class="who-liked-img">
                    <img :src="liker.img" alt="Image">
                  </td>
                  <td class="post-img">
                    <img :src="post" alt="Image">
                    <div class="like-animation">
                      <img src="@/assets/like.svg" alt="Liked">
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Notification',
  data () {
    return {
      likers: [
        { name: 'leiladonelle', img: '/mono_content/mono_avatars/05w.jpg' },
        { name: 'josamara', img: '/mono_content/mono_avatars/06w.jpg' },
        { name: 'delorislally', img: '/mono_content/mono_avatars/07w.jpg' },
        { name: 'tomkarol', img: '/mono_content/mono_avatars/08m.jpg' },
        { name: 'ashleytomb', img: '/mono_content/mono_avatars/09w.jpg' },
        { name: 'jeraldlincoln', img: '/mono_content/mono_avatars/10m.jpg' },
        { name: 'cavanfrankie', img: '/mono_content/mono_avatars/11m.jpg' },
        { name: 'kenred', img: '/mono_content/mono_avatars/12m.jpg' },
        { name: 'terrygraham', img: '/mono_content/mono_avatars/13m.jpg' },
        { name: 'augustcornell', img: '/mono_content/mono_avatars/14m.jpg' }
      ],
      posts: [
        '/mono_content/mono_feed/woman-2542252_1920.jpg',
        '/mono_content/mono_feed/wintry-2993370_1920.jpg',
        '/mono_content/mono_feed/woman-3083375_1920.jpg',
        '/mono_content/mono_feed/woman-3083390_1920.jpg',
        '/mono_content/mono_feed/woman-3083396_1920.jpg',
        '/mono_content/mono_feed/woman-3096664_1920.jpg',
        '/mono_content/mono_feed/woman-3177570_1920.jpg',
        '/mono_content/mono_feed/woman-3193776_1920.jpg',
        '/mono_content/mono_feed/wood-3071879_1920.jpg',
        '/mono_content/mono_feed/wintry-2993370_1920.jpg',
      ],
      liker: { name: 'leiladonelle', img: '/mono_content/mono_avatars/05w.jpg' },
      post: '/mono_content/mono_feed/woman-2542252_1920.jpg',
    }
  },
  computed: {
    smbHasLiked () {
      var vm = this
      vm.liker = vm.likers[Math.floor(Math.random() * vm.likers.length)]
      vm.post = vm.posts[Math.floor(Math.random() * vm.posts.length)]
      return this.$store.state.smbHasLiked
    },
    balance () {
      return this.$store.state.balance
    },
    balanceUsd () {
      return this.$store.state.balanceUsd.toFixed(2).split('.').join(',')
    }
  }
}
</script>

<style scoped>
.notification-wrapper {
  z-index: 500;
  position: fixed;
  top: 55px;
  margin: 0 auto;
}

.notification-content {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 21px 0 #5300ff;
}

.post-img {
  padding: 7px;
  width: 93px;
  position: relative;
}

.post-img > img {
  width: 79px;
  height: 79px;
  border-radius: 15px;
}

.who-liked-username {
  font-family: Muller-Bold;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 14px;
  padding-left: 17px;
}

.who-liked-img {
  padding-top: 7px;
  width: 49px;
}

.who-liked-img > img {
  width: 49px;
  border-radius: 15px;
}

.did-action {
  font-family: Muller;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.balance {
  font-family: Muller;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 17px;
  padding-top: 4px;
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
