<template>
  <div class="row">

    <div class="col-12 col-lg-5 wrapper">
      <div :class="{'row': true}">
        <div class="col-12">
          <div :class="{'content': true}">
            <div class="mb-3 add-post-title">New story</div>
            <div v-show="errMsg !== ''" class="alert alert-danger">{{ errMsg }} </div>
            <form @submit.prevent="submitForm">
              <img v-if="previewSrc !== ''" :src="previewSrc" class="preview mb-2">

              <div class="pre-border" v-if="previewSrc === ''">
                <div class="row">
                  <div class="col-12 content-video-camera">
                    <camera-view v-if="!isApp()" @onChange="handleFileChange"></camera-view>
                    <camera-mobile v-if="isApp()" @onChange="handleFileChangeInApp"></camera-mobile>
                    <video-view v-if="isPhotoUpload && isApp()"></video-view>
                    <video-view v-if="isPhotoUpload && !isApp()"></video-view>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button class="upload-btn">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { apiClient, getErrorMessage } from './../../utils/httpClient'
import FileSelect from './../shared/FileSelect'
import CameraView from './../shared/CameraView2'
import CameraMobile from './../shared/CameraMobile'
import FileVideoSelect from './../shared/FileVideoSelect'
import VideoView from "./VideoView";

export default {
  name: 'AddStories',
  data: function () {
    return {
      text: '',
      image: undefined,
      previewSrc: '',
      errMsg: '',
      isPhotoUpload: true,
    }
  },
  components: {
    VideoView,
    FileSelect,
    CameraView,
    CameraMobile,
    FileVideoSelect,
  },
  methods: {
    submitForm () {
      this.errMsg = ''
      let fd = new FormData()
      fd.append('image', this.image)
      apiClient.post('/stories/create', fd)
      .then(res => {
        const completed = res.data.data.completed
        if (completed) {
          this.$router.push('/feed')
        }
      })
      .catch(error => {
        this.errMsg = getErrorMessage(error)
      })
    },
    handleFileChange (event) {
      const input = event.target
      const reader = new FileReader()
      reader.onload = () => {
        const dataURL = reader.result
        this.previewSrc = dataURL
      }
      reader.readAsDataURL(input.files[0])
      this.image = input.files[0]
    },
    handleFileChangeInApp(file) {
      const reader = new FileReader();
      reader.onloadend = () => {
        const formData = new FormData();
        const imgBlob = new Blob([reader.result], {type: file.type});
        this.image = imgBlob;
        this.previewSrc = URL.createObjectURL(imgBlob);
      };
      reader.readAsArrayBuffer(file);
    },
    isApp() {
      return !document.URL.startsWith('http');
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
  min-height: 100vh;
  z-index: 200;
}

.content-video-camera {
  display: flex;
  justify-content: space-around;
}

.preview {
  max-width: 100%;
}

.add-post-title {
  margin-top: 45px;
  text-align: center;
  font-family: 'Phenomena-Bold';
  font-size: 27px;
}

.upload-btn {
  width: 149px;
  height: 39px;
  margin-top: 22px;
  opacity: 0.5;
  border-radius: 19.5px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 #ffffff;
  color: #5402ff;
  font-family: Muller;
  font-size: 18px;
  font-weight: 500;
}

.pre-border {
  border: 2px dashed white;
  width: 100%;
  padding: 20px;
  border-radius: 21px;
  padding-top: 30px;
}

</style>
