<template>
  <label class="file-select">
    <div class="select-button d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12 mb-2">
          <img src="@/assets/shared/add-post-camera.svg" alt="Camera">
        </div>
        <div class="col-12">camera</div>
      </div>
    </div>
    <input @click="takePhoto">
  </label>
</template>

<script>

export default {
  methods: {
    takePhoto() {
      let options = {
        quality: 100,
        destinationType: navigator.camera.DestinationType.FILE_URI,
        sourceType: navigator.camera.PictureSourceType.CAMERA,
        encodingType: navigator.camera.EncodingType.PNG,
        saveToPhotoAlbum: true
      };
      navigator.camera.getPicture(
        fileUri => {  
          window.resolveLocalFileSystemURL(fileUri, entry => entry.file(file => {
            this.previewSrc = file.localUrl            
            this.$emit('onChange', file)
            }
          ))
        },
        err => console.log(err),
        options
      );
    }
  }
}
</script>

<style>
.file-select {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.file-select > .select-button {
  padding: 2px 10px;
  color: black;
  background-color: white;
  border-radius: 21px;
  border: 2px dashed white;
  color: #5402ff;
  text-align: center;
  width: 110px;
  height: 110px;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}

.file-select > input {
  display: none;
}
</style>
