<template>
  <label class="file-select">
    <div class="select-button d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12 mb-2">
          <img src="@/assets/shared/video-player.svg" alt="Image">
        </div>
        <div class="col-12">choose</div>
      </div>
    </div>
    <input type="file" @change="onChange"/>
  </label>
</template>

<script>
export default {
  props: {
    value: File
  },
  methods: {
    onChange (e) {
      this.$emit('onChange', e)
    }
  }
}
</script>

<style scoped>

.file-select {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.file-select .select-button {
  padding: 2px 10px;
  background-color: white;
  border-radius: 21px;
  border: 2px dashed white;
  color: #5402ff;
  text-align: center;
  width: 110px;
  height: 110px;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}

.file-select > input[type="file"] {
  display: none;
}
</style>
