<template>
  <div class="footer footer--fixed">
    <div class="footer__wrapper d-block">
      <div class="footer__menu menu-icon">
        <div class="menu-icon__item" v-for="link in links" :key="link.url" @click="goToMenu(link.url)">
          <img :class="{'menu-icon__icon--active': isActiveLink(link.name)}" :title="link.title" :src="iconPath(link)" class="menu-icon__icon">
        </div>
      </div>
      <!-- add post button -->
      <div class="button button__post button--fixed-footer" v-show="isAddPostVisible" @click="goToAddPost">
        <img src="@/assets/shared/plus.svg" alt="">
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'FooterBlock',
  methods: {
    iconPath (link) {
      return require(`@/assets/footer/${link.icon}.svg`)
    },
    isActiveLink (name) {
      console.log(name, this.currentRoute.name)
      return this.currentRoute.name === name
    },
    updateCurrentRoute (to) {
      this.currentRoute = to
    },
    goToMenu (url) {
      this.$router.push(url)
    },
    goToAddPost () {
      this.$router.push('/add/feed')
    }
  },
    mounted () {
      this.currentRoute = this.$router.currentRoute
  },
  watch: {
    '$route': 'updateCurrentRoute'
  },
  data () {
    return {
      currentRoute: this.$router.currentRoute,
      links: [
        { url: '/feed', title: 'Feed', name: 'feed', icon: 'feed' },
        { url: '/surf', title: 'Surf', name: 'surf', icon: 'surf' },
        { url: '/top', title: 'Top content', name: 'top', icon: 'top-star' },
        { url: '/notifications', title: 'Notifications', name: 'notifications', icon: 'notifications' },
        { url: '/', title: 'Profile', name: 'home', icon: 'home-profile' }
      ]
    }
  },
  computed: {
    isAddPostVisible () {
      if (this.$store.state.isPopupOpened || ! this.currentRoute) {
        return false
      }
      return ['home', 'feed'].indexOf(this.currentRoute.name) !== -1
    }
  }
}

</script>

<style lang="scss" scoped>
/* footer block */
.footer {
  width: 100%;
  &--fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
  }
  &__wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 39px;
    background-image: radial-gradient(circle at 50% 0, #5200ff, #f0536a);
    box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  }
}
/* menu block */
.menu-icon {
  display: flex;
  &__item {
      &:hover {
        cursor: pointer;
      }
      display: flex;
      flex: 1 0 20%;
      align-items: center;
      justify-content: center;
      height: 39px;
  }
  &__icon {
    width: 20px;
    height: 20px;
    &--active {
      opacity: 0.8;
    }
  }
}
/* button element */
.button {
  &--fixed-footer {
    position: fixed;
    z-index: -1;
    bottom: 38px;
    bottom: calc(38px + constant(safe-area-inset-bottom));
    bottom: calc(38px + env(safe-area-inset-bottom));
  }
  &__post {
    background-color: white;
    padding: 2px 10px 5px 14px;
    border-top-right-radius: 34px;
    font-size: 34px;
    color: purple;
    box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
    background-image: radial-gradient(circle at 0% 100%, #ff5c5c, #5300ff);
    box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5);
  }
}
</style>
