<template>
  <div class="wrapper">
    <!-- desktop -->
    <div class="container desktop d-none d-lg-block">
      <div class="inner">
        <back-to v-show="isDisplayBackHistory" v-on:goBack="goToBack"></back-to>
        <div class="row">
          <div class="col pl-0">
          </div>
          <div class="col-8 text-center">
            <img class="logo-icon" @click="openMonoretoCom" src="@/assets/header/logo_beta.png" alt="Logo">
          </div>
          <div class="col pl-0"></div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="mobile d-block d-lg-none">
      <back-to v-show="isDisplayBackHistory" v-on:goBack="goToBack"></back-to>
      <div class="row inner">
        <div class="col pl-0">
        </div>
        <div class="col-8">
          <div class=" ">
            <div class="header-balance">
              <div class="header-balance__count">{{ headerBalance }}</div>
              <div class="header-balance__desc">MNR</div>
            </div>
          </div>
        </div>
        <div class="col pl-0">
          <div v-if="!isLoggingIn" style="height: 100%;" class="text-right">
            <img class="messagesNew" style="height: 100%; cursor: pointer;opacity: 0.6" src="@/assets/messages-new.svg" alt="Wallet">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BackTo from './../Elements/Button/BackTo.vue'
export default {
  name: 'HeaderBlock',
  components: {
    BackTo
  },
  methods: {
    goToBack () {
      let backPath = this.$store.getters.pathBackRouteHistory
      this.$store.commit('extractRouteHistoryPath')
      console.log(backPath, this.$store.state.routeHistory)
      this.$router.push(backPath)
    },
    hidePopup () {
      if (this.$route.meta.showBackArrow) {
        this.$router.go(-1)
        return
      }

      this.$store.commit('hidePopup')
      this.$store.commit('storiesSetActiveId', -1)
    },
    openMonoretoCom () {
      window.open('http://monoreto.com/', '_blank')
    },
    openSearch () {
      this.$router.push('/search')
    }
  },
  computed: {
    isDisplayBackHistory () {
      return this.$store.getters.isBlankRouteHistory === false
    },
    headerBalance () {
      return this.$store.state.balance
    },
    isPopupOpened () {
      const isBackArrowVisible = this.$route.meta.showBackArrow
      return isBackArrowVisible || this.$store.state.isPopupOpened
        || this.$store.state.stories.activeId !== -1
    },
    isLoggingIn () {
      return this.$route.name === 'login'
    },
    isSearcherVisible () {
      return ['home', 'feed', 'feedPost', 'top', 'investment', 'charity'].indexOf(this.$route.name) !== -1
    }
  }
}
</script>

<style lang="scss" scoped>
.header-balance {
  color: #fff;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__count {
    display: inline-block;
    font-weight: 600;
    margin-right: 5px;
  }
  &__desc {
    display: inline-block;
    font-weight: 500;
  }
}
.inner {
  position: relative;
}
.wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.messagesNew {
    width: 20px;
    height: 19px;
    margin-right: 12px;
}
.arrow{
    color: white;
    transform: rotate(180deg);
    margin-right: 10px;
    font-size: 2em;
}

.desktop > .inner {
  height: 45px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  background-image: radial-gradient(circle at 50% 100%, #ff5c5c, #5300ff);
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}

.mobile > .inner {
  height: 45px;
  background-image: radial-gradient(circle at 50% 100%, #ff5c5c, #5300ff);
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}

.logo-icon {
  object-fit: contain;
  margin-top: 7px;
  max-height: 30px;
  cursor: pointer;
}

.back-arrow {
  padding-top: 9px;
  padding-left: 5px;
}
</style>
