<template>
  <div class="row login-wrapper">

    <back-to v-if="formSubmitted && finalStep === false" v-on:goBack="backToFirstStep"></back-to>

    <div class="d-none d-lg-block col-lg"></div>

    <div class="col-12 col-lg-5 wrapper d-flex flex-column justify-content-between align-items-start">
      <div class="content d-flex justify-content-center">

        <div class="text-wrapper">
          <div class="text-center">
            <div class="title">Social network</div>
            <div class="subtitle">with monetization of likes</div>
            <div class="error" v-show="errMsg !== ''"><hr>Error<p>{{ errMsg }}</p></div>
          </div>
        </div>

      </div>
      
      <div class="bottom-pane">

        <preloader v-if="isRequesting"></preloader>
        <div v-else class="create-account-block">
          <div class="create-account-block__title text-left">
            <span v-if="!formSubmitted">Create your own account or login</span>
            <span v-if="formSubmitted && accountExists && ! errMsg">Account already exists!</span>
            <span v-if="formSubmitted && !accountExists && finalStep">Account was created!</span>
            <span v-if="formSubmitted && !accountExists && !finalStep">Final step!</span>
          </div>
          <form class="" @submit.prevent="submitForm" v-if="!formSubmitted">
            <div class="create-account-block__title text-left">e-mail:</div>
            <input ref="underDevInput" class="form-control create-account-block__input" type="email" v-model="email">
            <div class="text-center mt-3">
              <input type="submit" value="Next" class="next-button">
            </div>
          </form>

          <form class="" @submit.prevent="doLogin" v-if="formSubmitted && accountExists">
            <div class="create-account-block__title text-left">Enter your password:</div>
            <input class="form-control create-account-block__input" type="password" v-model="password">
            <div class="row">
              <div class="col-6 mt-3 text-center pl-0 pr-0">
                <input type="button" value="Send again" @click="sendPassword" class="send-again-button"> 
              </div>
              <div class="col-6 mt-3 text-center pl-0 pr-0">
                <input type="submit" value="Login!" class="next-button"> 
              </div>
            </div>
          </form>

          <div class="" v-if="formSubmitted && !accountExists && finalStep">
            <div class="create-account-block__title text-left">The password and magic link<br/>for future authorizations<br/>was sent to your e-mail</div>
            <div class="mt-3 text-center pl-0 pr-0">
              <input @click="startUsing" type="button" value="Start!" class="next-button"> 
            </div>
          </div>

          <form class="" @submit.prevent="updateProfile" v-if="formSubmitted && !accountExists && !finalStep">
            <div class="create-account-block__title text-left">Enter your nickname:</div>
            <input class="form-control create-account-block__input" type="name" v-model="name">
            <div class="text-center mt-3">
              <input type="submit" value="Create!" class="next-button">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-block col-lg"></div>
  </div>
</template>

<script>
import Preloader from './../Preloader'
import BackTo from './../Elements/Button/BackTo.vue'
import Bootstrap from './../../bootstrap'
import store from './../../store'
import { apiClient, getErrorMessage, redirectUrl, apiBaseUrl } from './../../utils/httpClient'
import axios from 'axios'

export default {
  name: 'Login',
  data: () => ({
    errMsg: '',
    email: '',
    name: '',
    password: '',
    isRequesting: false,
    emailProvided: true,
    accountExists: false,
    formSubmitted: false,
    token: null,
    finalStep: false
}),
  created () {
    const email = this.$route.params.email
    if (email) {
      this.email = email
      this.emailProvided = true
      this.check()
    } else {
      this.emailProvided = false
    }
  },
  components: {
    BackTo,
    Preloader
  },
  methods: {
    backToFirstStep () {
      this.formSubmitted = false
      this.errMsg = ''
    },
    
    submitForm () {
      this.check()
    },
    check () {
      this.isRequesting = true
      apiClient.get(`/auth/check/${this.email}`)
        .then(res => {
          this.isRequesting = false
          this.formSubmitted = true
          if (res.status === 200) {
            const data = res.data.data
            if (data.registered === true) {
              this.accountExists = true
            } else {
              this.accountExists = false
              this.token = data.token
            }
          }
        })
        .catch(error => { 
          this.isRequesting = false
          console.error(error) 
          this.formSubmitted = true
        })
    },
    doLogin () {
      this.isRequesting = true
      let fd = new FormData()
      fd.append('email', this.email)
      fd.append('password', this.password)
      apiClient.post('/login', fd)
        .then(res => {
          if (res.status === 200) {
            const token = res.data.data.token
            localStorage.setItem('monoretoJwt', token)
            this.isRequesting = true
            Bootstrap.initializeCustomer(store).then(() => {
              this.isRequesting = false
              this.$router.push('/')
            })
          } else {
            this.errMsg = 'Something wrong'
            this.isRequesting = false
          }
        })
        .catch(error => {
          this.errMsg = getErrorMessage(error)
          this.isRequesting = false
        })
    },
    updateProfile () {
      this.isRequesting = true
      localStorage.setItem('monoretoJwt', this.token)

      const apiClient1 = axios.create({
        baseURL: apiBaseUrl,
        timeout: 10000,
        headers: {
          'Authorization': 'Bearer ' + this.token
        }
      })

      let fd = new FormData()
      fd.append('name', this.name)
      apiClient1.post('/my/profile', fd)
        .then(res => {
          this.isRequesting = false
          if (res.status === 200) {
            this.finalStep = true
          }
        })
        .catch(error => {
          this.isRequesting = false
          this.errMsg = getErrorMessage(error)
        })
    },
    sendPassword () {
      // this.email
    },
    startUsing () {
      this.isRequesting = true
      Bootstrap.initializeCustomer(store).then(() => {
        this.isRequesting = false
        this.$router.push('/')
      })
    }
  }
}
</script>

<style scoped>
.login-wrapper {
  height: 100%;
}
.wrapper {
  /*background-image: radial-gradient(ellipse at center 90%, #ff5c5c, #5300ff);*/
  background-image: radial-gradient(circle at center 75%, #ff5c5c, #5300ff);
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.content {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.section-title {
  margin-top: 45px;
  text-align: center;
  font-family: 'Phenomena-Bold';
  font-size: 27px;
}

.section-block__title {
  margin-bottom: .3rem;
  font-size: 16px;
  margin-top: 10px;
}

.submit-btn {
  padding: 2px 10px;
  margin-top: 20px;
  color: black;
  background-color: white;
  border-radius: 21px;
  border: 3px solid white;
  text-align: center;
}

.form-wrapper {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
}

.create-account-block {
  /* margin-top: -40px; */
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  padding: 15px 35px 15px 35px;
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
}

.bottom-pane {
  width: 100%;
}

.create-account-block__title {
  margin-bottom: .4rem;
  font-size: 16px;
}

.create-account-block__input {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
}

.create-account-block__input-disabled {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #ffffff;
    opacity: 0.3;
    margin-top: 14px;
    box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
    height: 33px;
    width: 100%;
    border-radius: 0.25rem;
}

.title {
  color: white;
  font-family: Muller-Medium;
  font-size: 23px;
  line-height: 27px;
}

.subtitle {
  color: white;
  font-family: Muller-Medium;
  font-size: 19px;
  margin-top: 6px;
  line-height: 27px;
}

.create-acc-teaser {
  color: white;
  font-family: Muller-Medium-Italic;
  margin-top: 40px;
  font-size: 19px;
}

.watch-demo-btn {
   width: 200px;
  height: 44px;
  border-radius: 26.3px;
  box-shadow: 0 0 44px 0 #ffffff;
  background-color: #5300ff;
  border: solid 1.8px #ffffff;
  font-family: Muller;
  font-size: 21.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.next-button {
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #ffffff;
  border: solid 1.2px #5300ff;
  color: #5300ff;
  padding: 5px 55px;
}

.send-again-button {
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #5300ff;
  border: solid 1.4px #ffffff;
  color: white;
  padding: 5px 55px;
  opacity: .30;
}
</style>
