<template>
  <div class="row popup sticky-top">
    <div class="col-12 ml-0 mr-0" >
      <div class="" style="height: 100%;">
        <div style="height: 28%;"></div>
        <div class="text-center">
          <div class="title">{{ section }}</div>
          <div class="subtitle">are in development</div>
        </div>
        <div class="text-center">
          <div class="create-acc-teaser">Create your own account<br/>and be among the first users</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageUnderDev',
  props: ['section']
}
</script>


<style scoped>
.popup {
  z-index: 110;
  height: calc(100vh - 90px);
  top: 45px;
} 

.popup:after {
  content: '';
  opacity: 0.93;
  background-image: radial-gradient(circle at 50% 80%, #ff5c5c, #5300ff);
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.title {
  color: white;
  font-family: Muller-Medium;
  font-size: 23px;
  line-height: 27px;
}

.subtitle {
  color: white;
  font-family: Muller-Medium;
  font-size: 19px;
  margin-top: 6px;
  line-height: 27px;
}

.create-acc-teaser {
  color: white;
  font-family: Muller-Medium-Italic;
  margin-top: 15%;
  font-size: 19px;
}
</style>

