<template>
  <div class="row top-panel">
    <div class="d-none d-lg-block col-lg"></div>
    <div class="col-12 col-lg-5">
      <div class="row">
        <div class="col-12 main-line ml-0 mr-0" >
          <div class="info-pane">
            <div class="row">
              <div class="col-3 pr-0 text-right">
                <img v-if="user.image == null" src="@/assets/profile/empty-avatar.svg" class="profile-photo">
                <div class="box__aspect-1_1" v-if="user.image != null">
                  <div class="box__aspect-1_1__content profile-photo" :style="{
                    background: 'url(' + user.image.url + ') center center / cover no-repeat'
                  }"></div>
                </div>
              </div>
              <div class="col-3 pr-0">
                <div class="avatar-name">{{ user.name || '...' }}</div>
                <div class="avatar-status font-purple">
                  <img src="@/assets/stories/stars-4.svg" alt="" style="height: 12px">
                </div>
              </div>
              <div class="col-6">
                <div class="row" @click="viewFilter = 'followed'">
                  <div class="col-8">Followers</div>
                  <div class="col-4">{{ user.followers_count || 0 }}</div>
                </div>
                <div class="row" @click="viewFilter = 'following'">
                  <div class="col-8">Following</div>
                  <div class="col-4">{{ user.subscriptions_count || 0 }}</div>
                </div>
                <div class="row" @click="viewFilter = 'posts'">
                  <div class="col-8">Posts</div>
                  <div class="col-4">{{ user.posts_count || 0 }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div v-if="isFollowBlockVisible" :class="{ 'col-12 follow-line ml-0 mr-0': true, 'active': !isFollowing }">
          <div class="col-12 follow-line__item text-center" @click="toggleFollow(user.id)">
            {{ isFollowing ? 'Unfollow' : 'Follow' }}
          </div>
        </div>
        <div class="col-12 ml-0 mr-0 content">
          <div v-if="viewFilter === 'posts'">
            <div class="row">
              <div class="column">
                <img v-for="post in posts.feeds.filter((x, i) => i % 2 === 0)" :key="post.id" :src="post.image.url" :alt="post.description" @click="openFeedWithSingleItem(post.id)">
              </div>
              <div class="column">
                <img v-for="post in posts.feeds.filter((x, i) => i % 2 !== 0)" :key="post.id" :src="post.image.url" :alt="post.description" @click="openFeedWithSingleItem(post.id)">
              </div>
            </div>
            <div class="row">
              <div class="column">
                <img v-for="post in posts.investments.filter((x, i) => i % 2 === 0)" :key="post.id" :src="post.image.url" :alt="post.description">
              </div>
              <div class="column">
                <img v-for="post in posts.investments.filter((x, i) => i % 2 !== 0)" :key="post.id" :src="post.image.url" :alt="post.description">
              </div>
            </div>
            <div class="row">
              <div class="column">
                <img v-for="post in posts.charity.filter((x, i) => i % 2 === 0)" :key="post.id" :src="post.image.url" :alt="post.description">
              </div>
              <div class="column">
                <img v-for="post in posts.charity.filter((x, i) => i % 2 !== 0)" :key="post.id" :src="post.image.url" :alt="post.description">
              </div>
            </div>
          </div>

          <div v-show="viewFilter === 'followed'">
            <div class="title mt-3 mb-3">Followers</div>
            <div v-for="account in followers" :key="account.user.id" class="account-pane" @click="goToPersonal(account.user.id)">
              <div class="d-flex mb-2">
                <div class="p-2">
                  <div class="image-cell-wrapper">
                    <div class="box__aspect-1_1" v-if="account.user.image != null">
                      <img class="box__aspect-1_1__content profile-image" :src="account.user.image.url">
                    </div>
                  </div>
                </div>
                <div class="p-2">
                  <div class="username">{{ account.user.name }}</div>
                  <div class="rating mt-1">
                    <img src="@/assets/stories/stars-1.svg">
                  </div>
                </div>
                <div class="ml-auto d-flex flex-column justify-content-center">
                  <button v-if="followingUids.indexOf(account.user.id) === -1" class="follow-btn mr-2" @click.stop="doFollow(account.user.id)">follow</button>
                  <button v-if="followingUids.indexOf(account.user.id) !== -1" class="unfollow-btn mr-2" @click.stop="doUnfollow(account.user.id)">unfollow</button>
                </div>
              </div>
            </div>
          </div>

          <div v-show="viewFilter === 'following'">
            <div class="title mt-3 mb-3">Following</div>
            <div v-for="account in following" :key="account.user.id" class="account-pane" @click="goToPersonal(account.user.id)">
              <div class="d-flex mb-2">
                <div class="p-2">
                  <div class="image-cell-wrapper">
                    <div class="box__aspect-1_1" v-if="account.user.image != null">
                      <img class="box__aspect-1_1__content profile-image" :src="account.user.image.url">
                    </div>
                  </div>
                </div>
                <div class="p-2">
                  <div class="username">{{ account.user.name }}</div>
                  <div class="rating mt-1">
                    <img src="@/assets/stories/stars-1.svg">
                  </div>
                </div>
                <div class="ml-auto d-flex flex-column justify-content-center">
                  <button v-if="followingUids.indexOf(account.user.id) === -1" class="follow-btn mr-2" @click.stop="doFollow(account.user.id)">follow</button>
                  <button v-if="followingUids.indexOf(account.user.id) !== -1" class="unfollow-btn mr-2" @click.stop="doUnfollow(account.user.id)">unfollow</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg"></div>
  </div>
</template>

<script>
import { apiClient } from './../../utils/httpClient'

let useCache = false

export default {
  name: 'PersonalContent',
  mounted () {
    this.isFollowing = false
    this.userId = this.$route.params.id
    this.bootstrap()   
  },
  beforeRouteEnter (to, from, next) {
    useCache = !!from.meta.showBackArrow
    next()
  },
  beforeRouteUpdate (to, from, next) {
    if (to.params && to.params.id) {
      this.userId = to.params.id
      this.bootstrap()
      this.viewFilter = 'posts'
    }
    next()
  },
  data () {
    return {
      user: {},
      isFollowing: false,
      posts: {
        feeds: [],
        charity: [],
        investments: []
      },
      isFollowBlockVisible: false,
      viewFilter: 'posts',
      following: [],
      followers: [],
      followingUids: [], // Array of users authenticated user is following
      userId: 0,
      pageOffset: 1
    }
  },
  methods: {
    bootstrap () {
      this.getInfo()
      this.getPosts()
      this.getFollowers()
      this.getFollowing()
    },
    doFollow (userId) {
      this.follow(userId, uid => {
        this.followingUids.push(uid)
      })
    },
    doUnfollow (userId) {
      this.unfollow(userId, uid => {
        const idx = this.followingUids.indexOf(uid)
        if (idx !== -1) {
          this.followingUids.splice(idx, 1)
        }
      })
    },
    follow (userId, cb) {
      let url = `/subscriptions/${userId}/add`
      apiClient.get(url)
        .then(res => {
          if (res.status === 200) {
            cb(userId)
          }
        })
        .catch(err => console.error(err))
    },
    unfollow (userId, cb) {
      let url = `/subscriptions/${userId}/delete`
      apiClient.get(url)
        .then(res => {
          if (res.status === 200) {
            cb(userId)
          }
        })
        .catch(err => console.error(err))
    },
    toggleFollow (userId) {
      if (this.isFollowing) {
        this.unfollow(userId, () => {
          this.isFollowing = false
        })
      } else {
        this.follow(userId, () => {
          this.isFollowing = true
        })
      }
    },
    goToPersonal (userId) {
      this.$router.push(`/user/${userId}`)
    },
    getInfo () {
      apiClient.get(`/users/${this.userId}`)
        .then(res => {
          if (res.status === 200) {
            this.user = res.data.data
            this.isFollowing = this.user.is_following
            if (this.$store.state.userInfo.id !== this.user.id) {
              this.isFollowBlockVisible = true
            }
          }
        })
        .catch(err => console.error(err))
    },
    getPosts () {
      if (useCache) {
        this.posts.feeds = this.$store.state.cache.personal.posts.feeds
        this.posts.charity = this.$store.state.cache.personal.posts.charity
        this.posts.investments = this.$store.state.cache.personal.posts.investments
        this.pageOffset = this.$store.state.cache.personal.page
        return
      }
      apiClient.get(`/users/${this.userId}/posts`)
        .then(res => {
          if (res.status === 200) {
            this.posts.feeds = res.data.data.posts.feeds.reverse()
            this.posts.charity = res.data.data.posts.charity.reverse()
            this.posts.investments = res.data.data.posts.investments.reverse()
            this.$store.commit('updateCache', {
              type: 'personal', 
              posts: {
                feeds: this.posts.feeds,
                charity: this.posts.charity,
                investments: this.posts.investments
              },
              page: this.pageOffset
            })
          }
        })
        .catch(err => console.error(err))
    },
    getFollowers () {
       apiClient.get(`/users/${this.userId}/subscriptions/followed`)
        .then(res => {
          if (res.status === 200) {
            const subs = res.data.data.subscriptions
            subs.forEach(x => {
              if (x.user.is_following && this.followingUids.indexOf(x.user.id) === -1) {
                this.followingUids.push(x.user.id)
              }
            })
            this.followers = subs
          }            
        })
        .catch(err => console.error(err))
    },
    getFollowing () {
      apiClient.get(`/users/${this.userId}/subscriptions/following`)
        .then(res => {
          if (res.status === 200) {
            const subs = res.data.data.subscriptions
            subs.forEach(x => {
              if (x.user.is_following && this.followingUids.indexOf(x.user.id) === -1) {
                this.followingUids.push(x.user.id)
              }
            })
            this.following = subs
          }            
        })
        .catch(err => console.error(err))
    },
    openFeedWithSingleItem (postId) {
      console.log(this.$route)
      try {
        if (this.$route.name === 'feed' && +this.$route.params.id === +postId) {
          this.$store.commit('hidePopup')
        }
      } catch (e) {
        //
      }
      this.$router.push(`/feed/${postId}`)
    }
  }
}
</script>


<style scoped>

.top-panel {
  padding-bottom: 45px;
}

.title {
  font-family: Muller;
  font-size: 15.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5300ff;
}

.subtitle {
  
  font-family: Muller-Medium;
  font-size: 19px;
  margin-top: 6px;
  line-height: 27px;
}

.create-acc-teaser {
  color: white;
  font-family: Muller-Medium-Italic;
  margin-top: 15%;
  font-size: 19px;
}

.main-line {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  padding-top: 10px;  
  padding-bottom: 5px;
}

.info-pane {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  padding: 15px;
  margin-bottom: .4rem;
}

.follow-line {
  background-image: radial-gradient(circle at 50% 0, #f8838d, #8246fe);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
  color: white;
  font-family: Muller-Medium;
  font-size: 1.1rem;
  height: 33px; 
}

.follow-line.active {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
}

.follow-line__item {
  height: 100%;
  vertical-align: middle;
  margin-top: 5px;
}

.profile-photo {
  max-width: 100%; border-radius: 50%;
  height: 68px;
  width: 68px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 21px;
}

.content {
  background-color: #eadfff;
  padding: 0 20px;
}

.image-cell-wrapper {
  height: 44px;
  width: 44px;
}

.profile-image {
  border-radius: 10px;
  max-height: 45px;
}

.account-pane {
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
}

.follow-btn {
  height: 27px;
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #5300ff;
  border: solid 1.2px #ffffff;
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  padding-top: 4px;
  padding-top: 4px;
  width: 106px;
}

.unfollow-btn {
  height: 27px;
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #ffffff;
  border: solid 1.2px #5300ff;
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
   color: #5300ff;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 106px;
}

.username {
  margin-top: 6px;
  font-family: Muller;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #131f3c;
}

.rating > img {
  height: 10px;
}
</style>

