<template>
  <div class="row">

    <div v-if="isAuthorized" class="col-12 col-lg-5 wrapper d-flex justify-content-center align-items-end">
      <div class="row w-100">
        <div class="col-12">
          <div class="content">
            You're authorized. There's nothing to do here
          </div>
        </div>
      </div>
    </div>

    <div v-if="!isAuthorized" class="col-12 col-lg-5 wrapper d-flex justify-content-center align-items-end">
      <div :class="{'row w-100': true}">
        <div class="col-12">
          <div :class="{'content': true}">
            <div class="mb-3 section-title">Register</div>

            <div class="alert alert-danger" v-if="errMsg !== ''">{{ errMsg }}</div>

            <form @submit.prevent="submitForm">
              
              <div class="section-block__title text-left">
                <span>E-mail</span>
              </div>
              <input type="email" v-model="email" class="form-control" />

              <div class="section-block__title text-left">
                <span>Username</span>
              </div>
              <input v-model="name" class="form-control" />

              <div class="section-block__title text-left">
                <span>Password</span>
              </div>
              <input type="password" v-model="password" class="form-control" />

              <div class="text-center">
                <button class="submit-btn" :disabled="isRequesting">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { apiClient, getErrorMessage, redirectUrl } from './../../utils/httpClient'

export default {
  name: 'Register',
  data: function () {
    return {
      email: '',
      password: '',
      name: '',
      errMsg: '',
      isRequesting: false
    }
  },
  components: {},
  methods: {
    submitForm () {
      this.isRequesting = true
      let vm = this
      vm.errMsg = ''
      let fd = new FormData()
      fd.append('email', this.email)
      fd.append('name', this.name)
      fd.append('password', this.password)
      apiClient.post('/register', fd)
        .then(res => {
          if (res.status === 200) {
            apiClient.post('/login', fd)
              .then(res => {
                if (res.status === 200) {
                  const token = res.data.data.token
                  localStorage.setItem('monoretoJwt', token)
                  window.location.replace(redirectUrl)
                } else {
                  vm.errMsg = 'Something wrong'
                  vm.isRequesting = false
                }
              })
              .catch(error => {
                vm.errMsg = getErrorMessage(error)
                vm.isRequesting = false
              })
          } else {
            vm.errMsg = 'Something wrong'
            this.isRequesting = false
          }
        })
        .catch(error => {
          vm.errMsg = getErrorMessage(error)
          this.isRequesting = false
        })
    }
  },
  computed: {
    isAuthorized () {
      return this.$store.state.jwtToken != null
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
  min-height: 100vh;
  z-index: 200;
}

.content {
  margin-bottom: 45px;
  padding-top: 15px; 
  padding-bottom: 40px;
}

.section-title {
  margin-top: 45px;
  text-align: center;
  font-family: 'Phenomena-Bold';
  font-size: 27px;
}

.section-block__title {
  margin-bottom: .3rem;
  font-size: 16px;
  margin-top: 10px;
}

.submit-btn {
  padding: 2px 10px;
  margin-top: 20px;
  color: black;
  background-color: white;
  border-radius: 21px;
  border: 3px solid white;
  text-align: center;
}

</style>
