<template>
  
  <div class="row overlay">

    <div class="col-12 main-line ml-0 mr-0">
      <div class="search-block">
        <div class="title text-left">Enter nickname:</div>
        <form @submit.prevent="searchByUsername">
          <input type="text" class="search-field" v-model="searchCriteria">
        </form>
      </div>
    </div>

    <div class="col-12 ml-0 mr-0 content">
      <div v-if="searchCriteria === ''" class="title mt-3 mb-3">
        Recommended for you
      </div>
      <div v-if="searchCriteria !== '' && foundUsers.length > 0" class="title mt-3 mb-3">
        Search results
      </div>
      <div>
        <div v-for="account in users" :key="account.id" class="account-pane">
            <customer-follow :account="account"></customer-follow>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiClient } from './../../utils/httpClient'
import CustomerFollow from './../Customer/CustomerFollow'

let useCache = false

export default {
  name: 'Search',
  beforeRouteEnter (to, from, next) {
    useCache = !!from.meta.showBackArrow
    next()
  },
  data () {
    return {
      foundUsers: [],
      searchCriteria: '',
      followerUids: [],
      recommendedUsers: []
    }
  },
  components: {
    CustomerFollow
  },
  computed: {
    users () {
      if (this.searchCriteria !== '') {
        return this.foundUsers
      }
      return this.recommendedUsers
    }
  },
  watch: {
    searchCriteria (newVal) {
      this.updateCache()
      if (newVal === '') {
        this.foundUsers = []
      }
    }
  },
  mounted () {
    if (useCache && this.$store.state.cache.search.recommendedUsers.length > 0) {
      this.searchCriteria = this.$store.state.cache.search.searchCriteria
      this.recommendedUsers = this.$store.state.cache.search.recommendedUsers
      this.foundUsers = this.$store.state.cache.search.foundUsers
      return
    }

    apiClient.get('/users/recommended')
      .then(res => {
        if (res.status === 200) {
          this.recommendedUsers = res.data.data.users
          this.updateCache()
          const users = res.data.data.users
          users.forEach(x => {
            if (x.is_following) {
              this.followerUids.push(x.id)
            }
          })
        }
      })
      .catch(err => console.error(err)) 
  },
  methods: {
    updateCache () {
      this.$store.commit('updateCache', {
        type: 'search',
        searchCriteria: this.searchCriteria,
        recommendedUsers: this.recommendedUsers,
        foundUsers: this.foundUsers
      })
    },
    searchByUsername () {
      this.followerUids = []
      const name = this.searchCriteria  
      apiClient.get(`/users/name/${name}`)
        .then(res => {
          if (res.status === 200) {
            const users = res.data.data.users
            users.forEach(x => {
              if (x.is_following) {
                this.followerUids.push(x.id)
              }
            })
            this.foundUsers = users
            this.updateCache()
          }
        })
        .catch(err => console.error(err))
    }
  }
}
</script>


<style scoped>

.overlay {
  z-index: 110;
  /* height: calc(100vh - 90px); */
  top: 45px;
  position: fixed;
  bottom: 45px;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: white;
}

.ios .overlay {
  top: calc(45px + 20px);
  top: calc(45px + constant(safe-area-inset-top));
  top: calc(45px + env(safe-area-inset-top));
}

@media (min-width: 768px) {
  .overlay {
    position: absolute;
    /* margin-top: -40px; */
    padding: 15px 25px 40px 25px;
    font-family: Muller-Medium;
    color: white;
    font-size: 16px;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

.title {
  font-family: Muller;
  font-size: 15.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5300ff;
}

.create-acc-teaser {
  color: white;
  font-family: Muller-Medium-Italic;
  margin-top: 15%;
  font-size: 19px;
}

.main-line {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  padding: 10px 30px;  
}


.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 21px;
}

.content {
  background-color: #eadfff;
  padding: 0 34px;
}

.search-field {
  height: 35px;
  border-radius: 4.2px;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  border: solid 2px #ffffff;
  width: 100%;
  font-family: Muller;
  padding-left: 10px;
}

.search-block {
  padding-bottom: 4px;
  margin: 0 auto;
  width: 80%;
}

.search-block > .title {
  color: white;
  margin-bottom: 10px;
}

</style>

