<template>
<div>
  <stories-mobile></stories-mobile>
  <div class="overlay">
    <div v-if="story != null">
      <div class="progress" style="height: 4px;">
        <div class="progress-bar" role="progressbar" :style="{'width': progressValue + '%'}" :aria-valuenow="progressValue" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <img :src="story.img" alt="" class="story-image">
    </div>
  </div>
</div>

</template>

<script>
import StoriesMobile from '@/components/Feed/StoriesMobile'
import { apiClient } from './../../utils/httpClient'

export default {
  name: 'Search',
  data () {
    return {
      viewStoryTimeout: null,
      progressBarInterval: null,
      progressValue: 0,
      progressStartDate: new Date().getTime(),
      delay: 7000
    }
  },
  components: {
    StoriesMobile
  },
  computed: {
    story () {
      const idx = this.$store.state.stories.active.findIndex(x => {
        return x.id === this.$store.state.stories.activeId
      })
      if (idx != -1) {
        return this.$store.state.stories.active[idx]
      } 
      return null
    },
    activeId () {
      return this.$store.state.stories.activeId
    }
  },
  mounted () {
    if (this.activeId === -1) {
      this.$router.push('/feed')
      return
    }
    this.setupViewStoryTimeout()
    this.setupProgressbarInterval()
    apiClient.get('/users/recommended')
      .then(res => {
        if (res.status === 200) {
          this.recommendedUsers = res.data.data.users
          const users = res.data.data.users
          users.forEach(x => {
            if (x.is_following) {
              this.followerUids.push(x.id)
            }
          })
        }
      })
      .catch(err => console.error(err)) 
  },
  destroyed () {
    console.log('stories destroyed')
    clearTimeout(this.viewStoryTimeout)
    clearInterval(this.progressBarInterval)
  },
  watch: {
    activeId () {
      this.setupViewStoryTimeout()
    }
  },
  methods: {
    setupViewStoryTimeout () {
      this.progressValue = 0
      this.progressStartDate = new Date().getTime()
      clearTimeout(this.viewStoryTimeout)
      this.viewStoryTimeout = setTimeout(() => {
        this.$store.commit('storiesPop')
        const active = this.$store.state.stories.active
        if (active.length) {
          const story = active[active.length - 1]
          this.$store.commit('storiesSetActiveId', story.id)
        }
      }, this.delay)
    },
    setupProgressbarInterval () {
      clearInterval(this.progressBarInterval)
      this.progressBarInterval = setInterval(() => {
        const time = new Date().getTime()
        const delta = time - this.progressStartDate
        this.progressValue = ((delta / this.delay) * 100).toFixed(1)
      }, 1000)
    }
  }
}
</script>


<style scoped>
.overlay {
  margin: -15px;
  margin-top: 125px;
}

.story-image {
  width: 100%;
  margin-top: -25px;
  z-index: 1000;
  position: relative;
}

.progress {
  position: relative;
  top: 0px;
  z-index: 1001;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
}

.progress-bar {
  background-color: white;
}
</style>
