<template>
    <label class="file-select">
        <div class="select-button d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12 mb-2">
                    <img src="@/assets/shared/video-camera.svg" alt="Camera">
                </div>
                <div class="col-12">camera</div>
            </div>
        </div>
        <input type="file" accept="image/*" capture="user">
    </label>
</template>

<script>
    export default {
        name: "VideoView"
    }
</script>

<style scoped>

</style>