<template>
  <div class="rank">
    <div class="rank__block total--block">
      <div class="text--indicators">total rank</div>
      <div class="stars--block">
        <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
        <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
        <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
        <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
        <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
      </div>
      <div class="coefficient--value">-</div>
    </div>
    <div class="rank__block statistics--block">
      <div class="statistics--item margin-top__statistics">
        <div class="text--indicators">likes</div>
        <div class="stars--block">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
        </div>
        <div class="coefficient--value">-</div>
      </div>
      <div class="statistics--item">
        <div class="text--indicators">followers</div>
        <div class="stars--block">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
        </div>
        <div class="coefficient--value">{{ user.followers_count || 0 }}</div>
      </div>
      <div class="statistics--item">
        <div class="text--indicators">likes per post</div>
        <div class="stars--block">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
        </div>
        <div class="coefficient--value">{{ user.charity_likes_counter + user.feed_likes_counter + user.investment_likes_counter }}</div>
      </div>
      <div class="statistics--item margin-bottom__statistics">
        <div class="text--indicators">posts</div>
        <div class="stars--block">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--blue" src="@/assets/rank/star-violet-fill.svg">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
          <img class="stars--oppacity" src="@/assets/rank/star-black-blank@3x.png">
        </div>
        <div class="coefficient--value">{{ user.posts_count || 0 }}</div>
      </div>
    </div>
    <div class="rank__block manual--block">
      <div class="manual--text">*MANUAL TEXT*</div>
    </div>
  </div>
</template>

<script>

  import { apiClient } from './../../utils/httpClient'

    export default {
      name: "Rank",
      data () {
        return {
          followers: [],
          likes: []
        }
      },
      mounted () {
        apiClient.get('/my/profile')
          .then(res => {
            if (res.status === 200) {
              this.$store.commit('setUserInfo', res.data.data.profile)
              const userInfo = this.$store.state.userInfo
            } else {
              this.$store.commit('setUserInfo', {})
            }
          })
          .catch(error => {
            console.error(error)
            this.$store.commit('setUserInfo', {})
          })

        apiClient.get('/my/subscriptions/followed')
          .then(res => {
            if (res.status === 200) {
              const subs = res.data.data.subscriptions
              subs.forEach(x => {
                console.log(this.likes)
                if (x.user.is_following && this.likes.indexOf(x.user.id) === -1) {
                  this.likes.push(x.user.id)
                }
              })
              this.followers = subs
            }
          })
          .catch(err => console.log(err))

      },
      computed: {
          user () {
            return this.$store.state.userInfo
        }
      }
    }

</script>

<style scoped>

.rank {
  font-family: Muller;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
}

.rank__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 7.5px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
}

.total--block {
  height: 47px;
  margin-top: 5px;
  justify-content: space-evenly;
}

.statistics--block {
  justify-content: space-around;
  flex-direction: column;
  height: 145px;
  margin-top: 5px;
}

.manual--block {
  margin-top: 5px;
  height: 355px;
}

.stars--block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars--blue {
  width: 11.3px;
  height: 11.3px;
}

.stars--oppacity {
  width: 33.3px;
  height: 33.3px;
  margin: -11px;
}

.coefficient--value {
  width: 20px;
  height: 9px;
  font-weight: bold;
}

.statistics--item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.manual--text {
  text-align: center;
  width: 176px;
  height: 52px;
  font-size: 22px;
  font-weight: 300;
}

.text--indicators {
  display: inline-block;
  justify-content: flex-end;
  width: 75px;
}

.margin-top__statistics {
  margin-top: 10px;
}

.margin-bottom__statistics {
  margin-bottom: 10px;
}

</style>
