<template>
  <div class="row">

    <div class="col-12 col-lg-5 wrapper">
      <div :class="{'row': true}">
        <div class="col-12">
          <div :class="{'content': true}">
            <div class="loader" v-if="isPosting"></div>
            <div v-show="errMsg !== ''" class="alert alert-danger">{{ errMsg }} </div>
            <form v-if="!isPosting" @submit.prevent="submitForm">
              <img v-if="previewSrc !== ''" :src="previewSrc" class="preview mb-2">

              <div class="pre-border" v-if="previewSrc === ''">
                <div class="row">
                  <div class="col-6 mr-0">
                    <file-select @onChange="handleFileChange"></file-select>    
                  </div>
                  <div class="col-6 ml-0">
                    <camera-view v-if="!isApp()" @onChange="handleFileChange"></camera-view>
                    <camera-mobile v-if="isApp()" @onChange="handleFileChangeInApp"></camera-mobile>
                  </div>
                </div>
              </div>

              <div class="add-post-block__title text-left">
                <span>Name of project:</span>
              </div>
              <textarea rows="1" v-model="short_text" class="form-control" placeholder=""></textarea>

              <div class="add-post-block__title text-left">
                <span>Description:</span>
              </div>
              <textarea rows="3" v-model="text" class="form-control" placeholder=""></textarea>

              <div class="add-post-block__title text-left">
                <span>Required investment:</span>
              </div>
              <textarea rows="1" v-model="required_investment" class="form-control" placeholder=""></textarea>

              <div class="text-center">
                <button class="upload-btn" :disabled="isPosting">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiClient, getErrorMessage } from './../../utils/httpClient'
import FileSelect from './../shared/FileSelect'
import CameraView from './../shared/CameraView2'
import CameraMobile from './../shared/CameraMobile'

export default {
  name: 'AddInvestmentPost',
  data: function () {
    return {
      text: '',
      short_text: '',
      image: undefined,
      previewSrc: '',
      errMsg: '',
      required_investment: '',
      isPosting: false
    }
  },
  components: {
    FileSelect,
    CameraView,
    CameraMobile
  },
  methods: {
    submitForm () {
      this.isPosting = true
      this.errMsg = ''
      let fd = new FormData()
      fd.append('description', this.text)
      fd.append('short_description', this.short_text)
      fd.append('image', this.image)
      fd.append('goal', this.required_investment)
      apiClient.post('/investments/create', fd)
      .then(res => {
        const completed = res.data.data.completed
        if (completed) {
          this.$router.push('/investment')
        }
        this.isPosting = false
      })
      .catch(error => { 
        this.errMsg = getErrorMessage(error)
        this.isPosting = false
      })
    },
    handleFileChange (event) {
      const input = event.target
      const reader = new FileReader()
      reader.onload = () => {
        const dataURL = reader.result
        this.previewSrc = dataURL
      }
      reader.readAsDataURL(input.files[0])
      this.image = input.files[0]
    },
    handleFileChangeInApp(file) {    
      const reader = new FileReader();
      reader.onloadend = () => {
        const formData = new FormData();
        const imgBlob = new Blob([reader.result], {type: file.type});
        this.image = imgBlob;
        this.previewSrc = URL.createObjectURL(imgBlob);
      };
      reader.readAsArrayBuffer(file);
    },
    isApp() {
      return !document.URL.startsWith('http');
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
  min-height: 100vh;
  z-index: 200;
}

.content {
  margin-bottom: 45px;
  padding: 15px 25px 40px 25px;
  margin-top: 55px;
}

.preview {
  max-width: 100%;
  border-radius: 21px;
}

.add-post-title {
  margin-top: 45px;
  text-align: center;
  font-family: 'Phenomena-Bold';
  font-size: 27px;
}

.add-post-block__title {
  margin-bottom: .3rem;
  font-size: 16px;
  margin-top: .5rem;
}

.upload-btn {
  padding: 2px 10px;
  margin-top: 20px;
  color: black;
  background-color: white;
  border-radius: 21px;
  border: 3px solid white;
  text-align: center;
}

.pre-border {
  border: 2px dashed white;
  width: 100%;
  padding: 20px;
  border-radius: 21px;
  padding-top: 30px;
}

</style>
