<template>
  <div class="row d-block d-lg-none sticky-top wrapper">
    <div :class="{' col-12 ': true, 'blurred': isPopupVisible}" id="top-benefactors-wrapper">
      <div class="row">
        <div class="col-12 main-line">
          <div class="title">Top investors</div>
          <div class="inner">
            <table style="direction: ltr;">
              <transition-group name="slide-fade" tag="tr"
                v-on:after-leave="onTransitionAfterLeave">
                <td v-for="(account, index) in accounts" :key="account.id" @click="goToPersonal(account)">
                  <div :class="{'account-pane': true, 'in': account.id === activeProfileId,
                  'account-pane__last': index === accounts.length - 1}">
                    <table>
                      <tr>
                        <td class="image-cell">
                          <img v-if="account.image == null" draggable="false" src="@/assets/profile/empty-avatar.svg">
                          <img v-if="account.image != null" draggable="false" :src="getImage(account)">
                        </td>
                        <td class="content-cell">
                          <div :class="{'collapsible': true, 'in': account.id === activeProfileId}" :id="account.id">
                            <div class="stats">
                              <table>
                                <tr>
                                  <td><img src="@/assets/posts/likes.svg" alt="Likes"> <strong class="stats__text">{{ account.likes_count }}</strong></td>
                                  <td class="pl-2">
                                    <img src="@/assets/posts/dollar.svg" alt="Likes"> <span class="stats__text">{{ (account.likes_count * 0.05).toFixed(2) }}</span>
                                  </td>
                                </tr>
                              </table>
                            </div>
                            <div class="username">{{ account.name   }}</div>
                            <div class="rating">
                              <img src="@/assets/stories/stars-5.svg">
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </transition-group>
            </table>
          </div>
        </div>
        <div :class="{ 'col-12 likes-line': true, 'active': isLikeFilterActive }" @click="toggleLikeFilter">
          <div class="row">
            <div class="col-4 like-line__item">Invested</div>
            <div class="col-4 like-line__item text-center">{{ likesCounter }}</div>
            <div class="col-4 like-line__item text-right">
              <div style="margin-top: -2px;">
                <img v-if="likesCounter < 110" src="@/assets/shared/2-star.svg">
                <img v-if="likesCounter >= 110" src="@/assets/shared/3-star.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swipe from './../../utils/swipe'
import { apiClient } from './../../utils/httpClient'

export default {
  name: 'TopInvestorstMobile',
  mounted: function () {
    var vm = this
    var swiper = new Swipe('#top-benefactors-wrapper')
    swiper.onLeft(function () {
      if (vm.popedAccounts.length) {
        const acc = vm.popedAccounts.pop()
        vm.accounts.push(acc)
        vm.activeProfileId = acc.id
      }
    })
    swiper.onRight(function () { 
      if (vm.accounts.length) {
        const acc = vm.accounts.pop()
        vm.popedAccounts.push(acc)
      }
    })
    swiper.onUp(function () {})
    swiper.onDown(function () {})
    swiper.run()
    this.fetchData()
  },
  data: function () {
    return {
      popedAccounts: [],
      activeProfileId: 0,
      accounts: []
    }
  },
  computed: {
    likesCounter () { return this.$store.state.investedCounter },
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    isLikeFilterActive () {
      return this.$store.state.likeFilter['investment']
    }
  },
  methods: {
    onTransitionAfterLeave: function () {
      const vm = this
      if (vm.accounts[vm.accounts.length - 1]) {
        vm.activeProfileId = vm.accounts[vm.accounts.length - 1].id
      } else {
        vm.activeProfileId = null
      }
    },
    openPopup () {
      this.$store.commit('showPopup')
    },
    toggleLikeFilter () {
      this.$store.commit('toggleLikeFilter', 'investment')
    },
    goToPersonal (item) {
      this.$router.push(`/user/${item.id}`)
    },
    fetchData () {
      apiClient.get('/investments/top')
        .then(res => {
          if (res.status === 200) {
            this.accounts = res.data.data.users.reverse()
          }
        })
        .catch(error => {
          console.error(error)
        })
    },
    getImage (item) {
      if (item.image != null) {
        return item.image.url
      }
      return ''
    }
  }
}
</script>

<style scoped>

.list-item {
  display: inline-block;
  margin-right: 10px;
} 

.slide-fade-enter-active {
  transition: all 500ms ease;
}
.slide-fade-leave-active {
  transition: all 300ms ease;
  /* transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(200px);
  opacity: 0;
}


.collapsible {
  /* -webkit-transition: width 100ms; */
  /* transition: width 100ms; */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 30px; 
  /* width: auto; */
  width: 100px;
}

.collapsible.in {
    width: 100px;
    /* width: auto; */
}

.wrapper {
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  z-index: 100;
  padding-top: 0;
  margin-top: 45px;
  top: 45px;
  user-select: none;
  cursor: pointer;
}

.main-line {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
}

.likes-line {
  background-image: radial-gradient(circle at 50% 0, #f8838d, #8246fe);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
  color: white;
  font-family: Muller-Medium;
  font-size: 1.1rem;
  height: 33px;
}

.likes-line.active {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
}

.like-line__item {
  height: 100%;
  vertical-align: middle;
  margin-top: 5px;
}

.inner {
  padding-bottom: .5rem;
  padding-right: .7rem;
  width: 100vw;
  margin-left: -15px;
  position: relative;
  direction: rtl;
  overflow: hidden;
  min-height: 83px;
}

.title {
  font-family: Muller-Medium;
  color: white;
  font-size: 1.1rem;
  margin-top: .3rem;
  margin-bottom: -2px;
}

.account-pane {
  border-bottom-left-radius: 1rem;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
  margin-bottom: 0;
  /* width: 188px; */
  padding: 6px 8px;
  height: 74px;
  /* transition: margin 300ms; */
  margin-left: -115px;
  position: relative;
}

.account-pane__last {
  /* border-radius: 1rem; */
  /* margin-right: 0; */
  /* width: 188px; */
}

.account-pane__last.in {
  /* padding-right: -20px; */
}

.stats {
  font-family: Muller;
  font-size: 11.4px;
  line-height: 16px;
}

.stats__text {
  /* margin-top: 14px; */
}

.stats img {
  max-height: 11px;
  margin-top: -2px;
}

.username {
  font-family: Muller-Bold;
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 6px;
  line-height: 14px;
}

.rating {
  margin-top: -10px;
}

.rating > img {
  max-height: 10px;
}

.image-cell {
  padding: 0;
}

.image-cell > img {
  max-height: 62px;
  max-width: 62px;
  margin-top: -6px;
  border-radius: 16px;
}

.content-cell {
  padding-left: .8rem;
  padding-right: .1rem;
  min-width: 35px;
}

.account-pane.in .content-cell {
  /* padding-right: 1.5rem; */
}

.account-pane__last .content-cell {
  /* padding-right: 0; */
}

.account-pane__last .image-cell {
  /* padding-right: .3rem; */
}
</style>


