<template>
    <div class="serve-head">
        <div class="serve-head__wrap-input">
            <input class="serve-head__input" type="text" placeholder="Search" v-model="searchCriteria">
            <img class="serve-head__img" src="@/assets/posts/search.svg" alt="">
        </div>
        <div class="serve-head__buttons">
            <span :class="{'serve-head__buttons-item--active-posts': isActivePosts, 'serve-head__buttons-item-unactive-posts': !isActivePosts}" @click="goToPosts">Posts</span>
            <span :class="{'serve-head__buttons-item--active-people': isActivePeople, 'serve-head__buttons-item': !isActivePeople}" @click="goToPeople">People</span>
        </div>
    </div>
</template>

<script>
  export default {
    name: "SurfHead",
    data () {
        return {
            searchCriteria: ''
        }
    },
    watch: {
        searchCriteria (newVal) {
            this.$emit('onSearch', newVal)
        }
    },
    computed: {
        isActivePosts () {
            return this.$route.name === 'surf'
        },
        isActivePeople () {
            return this.$route.name === 'surfPeople'
        }
    },
    methods: {
        goToPosts () {
            this.$router.push('/surf')
        },
        goToPeople () {
            this.$router.push('/surf/people')
        }
    }
  }
</script>

<style lang="scss" scoped>
    .serve-head {
        height: 101px;
        margin: 0px -15px;
        background: linear-gradient(to left, rgba(80, 0, 245, 0.61), rgba(255, 92, 92, 0.61), rgba(80, 0, 245, 0.61));
        padding: 15px;

        &__wrap-input{
            display: flex;
            justify-content: space-around;
            height: 38px;
            width: 90%;
            margin: 0 auto;
        }
        &__input{
            width: 100%;
            border-radius: 8px;
            border: none;
            font-size: 1rem;
            font-weight: bold;
            color: #576b9c;
            padding-left: 10px;
            &:focus {
                outline: none;
            }
        }
        &__img {
            margin-top: 12px;
            right: 11%;
            position: absolute;
        }
        &__buttons{
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin: 12px -15px;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            line-height: 36px;
        }
        &__buttons-item {
            width: 50%;
            background-image: radial-gradient(circle at 0% 100%, #ff5c5c, #5300ff);
            &--active-posts {
                width: 50%;
                background-image: radial-gradient(circle at 0% 100%, #8246fe, #f8838d)
            }
            &--active-people {
                width: 50%;
                background-image: radial-gradient(circle at 0% 100%, #f8838d, #8246fe)
            }
        }
        &__buttons-item-unactive-posts {
            width: 50%;
            background-image: radial-gradient(circle at 0% 100%, #5300ff, rgba(255, 92, 92, 0.71));
        }
    }
</style>