<template>
    <div class="wrapper">
        <surf-head @onSearch="searchByUsername"></surf-head>

        <div v-if="preloader === false" class="col-12 ml-0 mr-0 content wrapper">
                <div v-if="searchCriteria === ''" class="serve-people__title mt-3 mb-3">
                Recommended for you
                </div>
                <div v-if="searchCriteria !== ''" class="serve-people__title mt-3 mb-3">
                     Search results
                </div>
                <div class="serve-people__not-found" v-if="searchCriteria !== '' && foundUsers.length == 0">
                    No data found
                </div>
            <div>
            <div v-for="account in users" :key="account.id" class="account-pane">
                <customer-follow :account="account"></customer-follow>
            </div>
            </div>
        </div>
        <preloader v-else></preloader>

    </div>
</template>

<script>
  import SurfHead from './SurfHead.vue'
  import { apiClient } from '@/utils/httpClient'
  import CustomerFollow from './../Customer/CustomerFollow'
  import Preloader from "@/components/Preloader";

  export default {
    name: "SurfPeople",
    data () {
        return {
            preloader: false,
            foundUsers: [],
            searchCriteria: '',
            followerUids: [],
            recommendedUsers: []
        }
    },
    created () {
      this.preloader = true
      apiClient.get('/users/recommended')
      .then(res => {
        this.preloader = false
        if (res.status === 200) {
          this.recommendedUsers = res.data.data.users
          const users = res.data.data.users
          users.forEach(x => {
            if (x.is_following) {
              this.followerUids.push(x.id)
            }
          })
        }
      })
      .catch(err => {
          this.preloader = false
          console.error(err)
      })
    },
    methods: {
        searchByUsername (name) {
            this.followerUids = []
            this.searchCriteria = name
            this.preloader = true
            apiClient.get(`/users/name/${name}`)
                .then(res => {
                if (res.status === 200) {
                    this.preloader = false
                    const users = res.data.data.users
                    users.forEach(x => {
                    if (x.is_following) {
                        this.followerUids.push(x.id)
                    }
                    })
                    this.foundUsers = users
                }
                })
                .catch(err => {
                     this.preloader = false
                     console.error(err)
                })
        }
    },
    computed: {
        users () {
        if (this.searchCriteria !== '') {
            return this.foundUsers
        }
        return this.recommendedUsers
        }
    },
    components: {
        CustomerFollow,
        SurfHead,
        Preloader
    }
  }
</script>

<style lang="scss" scoped>
    .serve-people{
        margin: 0 -15px;

        &__title {
            font-family: Muller;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #5300ff;
        }

         &__not-found {
            font-family: Muller;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
            color: #5300ff;
        }

    }

  .wrapper {
    height: 100%;
  }

</style>
