<template>
    <div class="serve-post">
        <surf-head></surf-head>
        <div class="serve-post__header">
            <span>Liked</span>
            <span class="serve-post__number">0</span>
            <img class="serve-post__img" src="@/assets/posts/2-star.svg" alt="">
        </div>

        <preloader v-if="isLoading"></preloader>
        <div v-else>
          <div class="row">
              <div class="column">
                <img v-for="post in posts.feeds.filter((x, i) => i % 2 === 0)" :key="post.id" :src="post.image.url" :alt="post.description" @click="openFeedWithSingleItem(post.id)">
              </div>
              <div class="column">
                <img v-for="post in posts.feeds.filter((x, i) => i % 2 !== 0)" :key="post.id" :src="post.image.url" :alt="post.description" @click="openFeedWithSingleItem(post.id)">
              </div>
            </div>
        </div>
        <!-- <div class="serve-post__content-wrap">
            <div class="serve-post__content"></div>
        </div> -->
    </div>
</template>

<script>
  import SurfHead from './SurfHead.vue'
  import { apiClient } from '@/utils/httpClient'
  import Preloader from "@/components/Preloader";

  export default {
    name: "SurfPost",
    data () {
        return {
            isLoading: false,
            posts: {
              feeds: []
            }
        }
    },
    mounted () {
        this.loadData()
    },
    components: {
        SurfHead,
        Preloader
    },
    methods: {
        loadData () {
          this.isLoading = true
          apiClient.get('/feeds/all/liked').then(res => {
            this.isLoading = false
            this.posts.feeds = res.data.data.feeds
          }, (err) => {
            this.isLoading = false
            console.log(err)
          })
        },
        openFeedWithSingleItem (postId) {
          this.$router.push(`/feed/${postId}`)
        }
    }
  }
</script>

<style lang="scss" scoped>
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 21px;
}

.serve-post {
    &__header{
        height: 36px;
        background: linear-gradient(to left, rgba(83, 0, 255, 0.61), rgba(255, 92, 92, 0.61), rgba(83, 0, 255, 0.61));
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0 9px;
        margin: 0px -15px;
    }
    &__number{
        margin-left: 35px;
    }
    &__content-wrap{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__content{
        width: 90px;
        height: 90px;
        border-radius: 7px;
        background: white;
    }
}
</style>