<template>
  <div class="row">

    <top-benefactors></top-benefactors>

    <div class="col-12 col-lg-5">

      <page-under-dev section="Charity pages" v-if="isPopupVisible"></page-under-dev>

      <div :class="{'row': true, 'vh--100': isPopupVisible}">
        <div class="col-12">
          <top-benefactors-mobile></top-benefactors-mobile>

          <div :class="{'content': true, 'blurred': isPopupVisible}">
            <h5 class="text-center" v-if="feedLine.length === 0">
              
            </h5>
            <balance-is-empty></balance-is-empty>
            <div class="post-pane" v-for="feedItem in feedLine" :key="feedItem.id">
              <div class="row post-pane__header">
                <div @click="toggleLike(feedItem)" :class="{'col-8': true}">
                  <div class="post-image">
                    <img :src="feedItem.image.url" alt="Post Image">
                    <div v-if="feedItem.liked" class="liked"></div>
                    <transition name="zoomIn">
                      <div class="like-animation" v-if="itemsWithLikeInProgress.indexOf(feedItem.id) !== -1">
                        <img src="@/assets/like.svg" alt="Liked">
                      </div>
                    </transition>
                  </div>
                </div>
                <div class="col-4 pl-0 post-desc" @click="toggleLike(feedItem)">
                  <div class="row mb-2">
                    <div class="col-4 pr-0 text-center post-desc__img">
                      <img src="@/assets/posts/views.svg" alt="Views">
                    </div>
                    <div class="col-8 pl-2 post-desc__text">{{ feedItem.views_count }}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 pr-0 text-center post-desc__img">
                      <img src="@/assets/posts/likes.svg" alt="Likes">
                    </div>
                    <div class="col-8 pl-2 post-desc__text"><strong>{{ feedItem.likes_count }}</strong></div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 pr-0 text-center post-desc__img">
                      <img src="@/assets/posts/dollar.svg" alt="Dollar">
                    </div>
                    <div class="col-8 pl-2 post-desc__text">{{ feedItem.fund_count }}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 pr-0 text-center post-desc__img">
                      <img src="@/assets/posts/comments.svg" alt="Comments">
                    </div>
                    <div class="col-8 pl-2 post-desc__text"><strong>{{ feedItem.comments_count }}</strong></div>
                  </div>
                </div>
              </div>
              <div class="post-pane__footer">
                <div class="row">
                  <div class="col-9">
                    <div class="post-pane__footer-author pseudo-link" @click="openPopup">{{ feedItem.owner.name }}</div>
                    <div class="post-pane__footer-text" @click="toggleLike(feedItem)">{{ feedItem.short_description }}</div>
                  </div>
                  <div class="col-3">
                    <div class="post-pane__footer-menu" @click="toggleDesc(feedItem)">
                      <div class="row">
                        <div class="col-12 footer-menu-dot">
                          <img src="@/assets/posts/comments-more.svg" alt="">
                        </div>
                        <div class="col-12 footer-menu-dot">
                          <img src="@/assets/posts/comments-more.svg" alt="">
                        </div>
                        <div class="col-12 footer-menu-dot">
                          <img src="@/assets/posts/comments-more.svg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <transition name="slide-down">
                  <div class="row" v-if="descOpened.indexOf(feedItem.id) !== -1">
                    <div class="col-12 post-pane__footer-full-text">{{ feedItem.description }}</div>
                  </div>
                </transition>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>

  </div>
</template>

<script>
import TopBenefactors from './TopBenefactors'
import TopBenefactorsMobile from './TopBenefactorsMobile'
import { apiClient } from './../../utils/httpClient'
import { isScrolledToBottom } from './../../utils/window'
import PageUnderDev from './../shared/PageUnderDev'
import BalanceIsEmpty from './../shared/notifications/BalanceIsEmpty'

export default {
  name: 'Charity',
  data: function () {
    return {
      likeTimers: [],
      descOpened: [],
      feedLine: [],
      scrolledToBottom: false,
      offsetCounter: 0,
      itemsWithLikeInProgress: []
    }
  },
  created () {
    this.$store.commit('hidePopup')
    this.$store.commit('disableLikeFilter', 'charity')
    this.fetchData()
    window.addEventListener('scroll', this.onScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll () {
      this.scrolledToBottom = isScrolledToBottom()
    },
    fetchData (offset = 0, liked = false) {
      console.log(offset, liked)
      let url = '/charity'
      if (liked === true) {
        url = '/charity/liked'
      }
      apiClient.get(url)
        .then(res => {
          console.log(res)
          if (res.status === 200) {
            this.insertItems(res.data.data.charity)
          }
        })
        .catch(err => console.error(err))
    },
    insertItems (items) {
      const items_ = items.map(x => {
        x['liked'] = x.is_liked
        x['fund_count'] = x.fund_count.toFixed(2)
        return x
      })
      if (this.offsetCounter !== 0) {
        this.feedLine = this.feedLine.concat(items_)
      } else {
        this.feedLine = items_
      }
    },
    toggleLike (item) {
      if (this.likeTimers.indexOf(item.id) !== -1) {
        const idx = this.feedLine.findIndex(x => x.id === item.id)
        let feedItem = this.feedLine[idx]
        const isLiked = feedItem.liked
        if (isLiked) {
          feedItem.likes_count = +feedItem.likes_count - 1
          feedItem.fund_count = (+feedItem.fund_count - 0.05).toFixed(2)
          this.$store.commit('setDonatedCounter', this.$store.state.donatedCounter - 1)
        } else {
          if (+this.$store.state.balance === 0) {
            this.$store.commit('showIsBalanceEmpty')
            return
          }
          feedItem.likes_count = +feedItem.likes_count + 1
          feedItem.fund_count = (+feedItem.fund_count + 0.05).toFixed(2)
          this.$store.commit('setDonatedCounter', this.$store.state.donatedCounter + 1)
          this.itemsWithLikeInProgress.push(item.id)
          setTimeout(() => { 
            this.itemsWithLikeInProgress.splice(this.itemsWithLikeInProgress.indexOf(item.id), 1)  
          }, 1000)
          apiClient.get(`/charity/${item.id}/like`)
            .then(res => {
              console.log(res)
            })
            .catch(error => {
              console.error(error)
            })
        }
        feedItem.liked = !isLiked
      } else {
        this.likeTimers.push(item.id)
        setTimeout(() => {
          this.likeTimers.splice(this.likeTimers.indexOf(item.id), 1)
        }, 300)
      }
    },
    toggleDesc (item) {
      const idx = this.descOpened.findIndex(x => x === item.id)
      if (idx !== -1) {
        this.descOpened.splice(idx, 1)
      } else {
        this.descOpened.push(item.id)
      }
    },
    openPopup () {
      this.$store.commit('showPopup')
    }
  },
  components: {
    TopBenefactors,
    TopBenefactorsMobile,
    PageUnderDev,
    BalanceIsEmpty
  },
  watch: {
    scrolledToBottom (newVal) {
      if (newVal) {
        this.offsetCounter += 1
        // this.fetchData(this.offsetCounter)
      }
    },
    likedOnly (newVal) {
      this.offsetCounter = 0
      this.fetchData(this.offsetCounter, newVal)
    }
  },
  computed: {
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    likedOnly () {
      return this.$store.state.likeFilter.charity
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
  margin-bottom: 45px;
}

@media (min-width: 992px) { 
  .content {
    padding-top: 45px;
  }  
}

.slide-down-enter-active {
  transition: all .3s ease;
}

.slide-down-enter {
  transform: translateY(-10px);
  opacity: 0;
}


.caption {
  font-family: Phenomena;
  width: 64px;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.post-pane {
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 #ffffff;
  margin-bottom: 10px;
  /* max-height: 298px; */
  overflow: hidden;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.post-pane__header {
  /* height: 190px; */
}

.post-pane__footer {
  /* height: 118px; */
  font-family: Muller-Medium;
  padding: 10px 24px 15px 24px;
}

.last-seen {
  font-family: Muller;
}

.username {
  font-family: Muller-Bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.post-image {
  border-radius: 21px;
   position: relative;
   user-select: none;
}

.post-image > .liked {
    /* background-image: radial-gradient(circle at 50% 8%, #ff5c5c, #5300ff); */
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 7px #5300ff;
    border-radius: 21px;
    top: 0;
    left: 0;
    user-select: none;
}


.post-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 21px;
}

.post-desc {
  font-family: Muller-Medium;
  padding-top: 20px;
}

.post-desc__img {
  height: 24px;
}

.post-desc__img img {
  height: 14px;
}

.post-desc__text {
  padding-top: 2px;
}

.post-desc__graph {
  padding-left: 6px;
  font-family: Muller-Bold;
  padding-top: 14px;
}

.footer-menu-dot {
  height: 8px;
}

.footer-menu-dot img {
  height: 5px;
}

.post-pane__footer-author {
  font-family: Muller-Bold;
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 1px;
}

.post-pane__footer-text {
  font-size: 13px;
  font-family: Muller-Medium;
}

.post-pane__footer-full-text {
  font-size: 11px;
  padding-top: 4px;
}

.post-pane__footer-number {
  font-size: 14px;
  text-align: right;
  font-family: Muller-Medium;
}

.post-pane__footer-menu {
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-pane {
    max-height: none;
  }

  .post-pane__header {
    height: auto;
  }

  .post-pane__footer-author {
    font-size: 16px;
  }

  .post-pane__footer-text {
    font-size: 13px;
  }
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.zoomIn-enter-active {
  animation: zoomIn .5s;
}
.zoomIn-leave-active {
  animation: zoomIn .5s reverse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
</style>
