<template>
  <div class="d-none d-lg-block col-12 col-lg">
    <div class="content sticky-top">
      <p class="caption">Top benefactors</p>

      <div v-for="account in accounts" :key="account.id" class="account-pane">
        <div class="row">
          <div class="col-5 image-cell">
            <img v-if="account.image == null" class="pseudo-link" src="@/assets/profile/empty-avatar.svg" style="max-width: 100%;" @click="goToPersonal(account)">
            <img v-if="account.image != null" :src="getImage(account)" style="max-width: 100%;" class="pseudo-link" @click="goToPersonal">
          </div>
          <div class="col-7 pl-0">
            <div class="stats">
              <table>
                <tr>
                  <td><img src="@/assets/posts/likes.svg" alt="Likes"> <strong class="stats__text">{{ account.likes_count }}</strong></td>
                  <td class="pl-2">
                    <img src="@/assets/posts/dollar.svg" alt="Likes"> <span class="stats__text">{{ (account.likes_count * 0.05).toFixed(2) }}</span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="username">{{ account.name }}</div>
            <div>
              <img src="@/assets/stories/stars-5.svg" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { apiClient } from './../../utils/httpClient'

export default {
  name: 'TopBenefactors',
  mounted () {
    this.fetchData()
  },
  data: function () {
    return {
      accounts: []
    }
  },
  methods: {
    openPopup () {
      this.$store.commit('showPopup')
    },
    goToPersonal (item) {
      this.$router.push(`/user/${item.id}`)
    },
    fetchData () {
      apiClient.get('/charity/top')
        .then(res => {
          if (res.status === 200) {
            this.accounts = res.data.data.users.reverse()
          }
        })
        .catch(error => {
          console.error(error)
        })
    },
    getImage (item) {
      if (item.image != null) {
        return item.image.url
      }
      return ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 620px;
  border-radius: 29px;
  background-image: radial-gradient(circle at 100% 0, #f8838d, #8246fe);
  box-shadow: 0 0 43px 0 rgba(255, 255, 255, 0.5);
  padding: 55px 25px 25px 25px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
}

.caption {
  font-family: Phenomena;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.account-pane {
  padding: 9px 11px;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: .4rem;
}

.stats {
  margin-top: 2px;
  font-family: Muller;
  font-size: 12.4px;
  line-height: 16px;
}

.stats img {
  max-height: 12px;
  margin-top: -4px;
}

.username {
  font-family: Muller-Bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.image-cell {
  /* padding: 0; */
}

.image-cell > img {
  max-height: 74px;
  max-width: 74px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 16px;
}
</style>
