<template>
    <div class="account-pane" @click="goToPersonal(account.id)">
      <div class="d-flex mb-2">
          <div class="p-2">
              <div class="image-cell-wrapper">
              <div class="box__aspect-1_1" v-if="account.image != null">
                  <img  class="box__aspect-1_1__content profile-image" :src="account.image.url">
              </div>
              <img v-if="account.image == null" src="@/assets/profile/empty-avatar.svg" style="{
                  width: 100%;
                  height: 100%;
              }">
              </div>
          </div>
          <div class="p-2">
              <div class="username">{{ account.name }}</div>
              <div class="rating mt-1">
              <img src="@/assets/stories/stars-1.svg">
              </div>
          </div>
          <div class="ml-auto d-flex flex-column justify-content-center">
              <button v-if="account.is_following === false" class="follow-btn mr-2" @click.stop="doFollow(account)">follow</button>
              <button v-if="account.is_following" class="unfollow-btn mr-2" @click.stop="doUnfollow(account)">unfollow</button>
          </div>
      </div>
    </div>
</template>

<script>

import { apiClient } from './../../utils/httpClient'

export default {
  name: 'CustomerFollow',
  props: ['account'],
  methods: {
    goToPersonal (userId) {
      this.$router.push(`/user/${userId}`)
    },
    doFollow (account) {
      this.follow(account.id, uid => {
        account.is_following = true
      })
    },
    doUnfollow (account) {
      this.unfollow(account.id, uid => {
        account.is_following = false
      })
    },
    follow (userId, cb) {
      let url = `/subscriptions/${userId}/add`
      apiClient.get(url)
        .then(res => {
          if (res.status === 200) {
            cb(userId)
          }
        })
        .catch(err => console.error(err))
    },
    unfollow (userId, cb) {
      let url = `/subscriptions/${userId}/delete`
      apiClient.get(url)
        .then(res => {
          if (res.status === 200) {
            cb(userId)
          }
        })
        .catch(err => console.error(err))
    },
  }
}
</script>

<style lang="scss" scoped>

.account-pane {
  width: 100%;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
}

.profile-image {
  border-radius: 10px;
  max-height: 44px;
}

.image-cell-wrapper {
  height: 44px;
  width: 44px;
}

.info-pane {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  padding: 15px;
  margin-bottom: .4rem;
}

.profile-photo {
  max-width: 100%; border-radius: 50%;
  height: 68px;
  width: 68px;
}

.rating > img {
  height: 11px;
}

.follow-line {
  background-image: radial-gradient(circle at 50% 0, #f8838d, #8246fe);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
  color: white;
  font-family: Muller-Medium;
  font-size: 1.1rem;
  height: 33px;
}

.follow-line.active {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
}

.follow-line__item {
  height: 100%;
  vertical-align: middle;
  margin-top: 5px;
}

.username {
  word-wrap: break-word;
  max-width: 100px;
  margin-top: 6px;
  font-family: Muller;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #131f3c;
}

.follow-btn {
  height: 27px;
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #5300ff;
  border: solid 1.2px #ffffff;
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 106px;
}

.unfollow-btn {
  height: 27px;
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #ffffff;
  border: solid 1.2px #5300ff;
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
   color: #5300ff;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 106px;
}
</style>
