<template>
  <div class="notify__item margin__item notify__item--active">
    <div class="notify__item--elements">
      <div>
        <p class="notify__item--name p-3" @click="goToPersonal(notify.user.id)"><span>{{ notify.user.name }}</span></p>
        <p class="notify__item--status pl-3">liked your post</p>
        <p class="notify__item--balance pl-3">and send <span>7 MNR</span> = $0.21</p>
      </div>
      <div class="notify__item--content--icon">
        <div class="notify__item--avatar pl-5">
          <img class="icon__avatar" :src="notify.user.image.url" @click="goToPersonal(notify.user.id)">
        </div>
        <div class="notify__item--content pl-3">
          <img src="@/assets/notifications/avatar.png" class="icon__content">
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "notificationOfLikes",
  props: {
    notify: {}
  },
  methods: {
    goToPersonal(userId) {
      this.$router.push(`/user/${userId}`)
    }
  }
}

</script>

<style scoped>

  .notify__item {
    flex: 0 0 99%;
    margin: 0 auto;
    margin-top: 5px;
    height: min-content;
    border-radius: 21px;
    box-shadow: 0 0 9px 0 #ffffff;
    background-color: #ffffff;
  }

  .margin__item {
    margin-top: 10px;
  }

  .notify__item--active {
    border: solid 1px #5300ff;
  }

  .notify__item--elements {
    display: flex;
    justify-content: space-between;
  }

  .notify__item--name {
    width: 100px;
    height: 14px;
    font-size: 12px;
  }

  .notify__item--status {
    width: 164px;
    height: 14px;
    font-size: 12px;
    font-weight: 500;
  }

  .notify__item--balance {
    width: 155px;
    height: 14px;
    font-size: 12px;
    font-weight: 500;
  }

  .notify__item--content--icon {
    display: flex;
    margin-right: 7px;
  }

  .notify__item--avatar {
    margin-top: 6px;
  }

  .notify__item--content {
    margin-top: 6px;
  }

  .icon__content {
    width: 79px;
    height: 79px;
    border-radius: 15px;
    margin-bottom: 13px;
  }

  .icon__avatar {
    width: 49px;
    height: 49px;
    border-radius: 15px;
  }

  span {
    font-weight: bold;
  }

</style>
