<template>
  <div class="notify__item notify__item--active">
    <div class="notify__item--elements">
      <div>
        <p class="notify__item--name p-3"><span>maryjames</span></p>
        <p class="notify__item--status pl-3">started follow you</p>
      </div>
      <div class="notify__item--content--icon">
        <div class="notify__item--avatar pl-5">
          <img src="@/assets/notifications/avatar.png" alt="" class="icon__avatar">
        </div>
        <button class="item__button--follow">follow</button>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
      name: "notificationOfSubscriptions",
      props: {
        notify: {}
      }
    }

</script>

<style scoped>

  .notify__item {
    flex: 0 0 99%;
    margin: 0 auto;
    margin-top: 5px;
    height: min-content;
    border-radius: 21px;
    box-shadow: 0 0 9px 0 #ffffff;
    background-color: #ffffff;
  }

  .notify__item--active {
    border: solid 1px #5300ff;
  }

  .notify__item--elements {
    display: flex;
    justify-content: space-between;
  }

  .notify__item--name {
    width: 100px;
    height: 14px;
    font-size: 12px;
  }

  .notify__item--status {
    width: 164px;
    height: 14px;
    font-size: 12px;
    font-weight: 500;
  }

  .notify__item--content--icon {
    display: flex;
    margin-right: 7px;
  }

  .notify__item--avatar {
    margin-top: 6px;
  }

  .icon__avatar {
    width: 49px;
    height: 49px;
    border-radius: 15px;
  }

  .item__button--follow {
    width: 79px;
    height: 27px;
    border-radius: 57.9px;
    box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
    background-color: #5300ff;
    border: solid 1.2px #ffffff;
    margin: 60px 5px 5px 13px;
    color: #ffffff;
  }

  span {
    font-weight: bold;
  }

</style>
