<template>
  <div class="notify__item">
    <p class="day__results p-3"><span>Day results - July 10, 2018</span></p>
    <div class="notify__item--table table__font--size">
      <div class="left__column pl-3">
        <p>Likes received</p>
        <p>Tokens income</p>
        <p>Fast likes return <img src="@/assets/notifications/inform.png" class="icon__inform"></p>
        <p>Likes delivered</p>
        <p>Tokens expense</p>
        <p>Fast likes bonus <img src="@/assets/notifications/inform.png" class="icon__inform"></p>
        <p><span>Day total</span></p>
        <p><span>Balance</span></p>
      </div>
      <div class="right__column pl-5">
        <p><span>123</span></p>
        <p class="table__font--green"><span>198 MNR</span> = $5.94</p>
        <p class="table__font--red"><span>79 MNR</span> = $2.37</p>
        <p><span>37</span></p>
        <p class="table__font--red"><span>37 MNR</span> = $1.11</p>
        <p class="table__font--green"><span>10 MNR</span> = $0.30</p>
        <p class="table__font--green"><span>92 MNR</span> = $2.76</p>
        <p class="table__font--blue"><span>1593 MNR</span> = $47.79</p>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
        name: "reportOfResults"
  }

</script>

<style scoped>

  .icon__inform {
    margin-left: 5px;
    width: 12px;
    height: 12px;
  }

  .table__font--blue {
    color: #5300ff;
  }

  .table__font--red {
    color: #f0536a;
  }

  .table__font--green {
    color: #39ba00;
  }

  .table__font--size {
    font-size: 12px;
  }

  .right__column {
    display: flex;
    flex-direction: column;
  }

  .left__column {
    display: flex;
    flex-direction: column;
  }

  .notify__item--table {
    display: flex;
  }

  .notify__item {
    flex: 0 0 99%;
    margin: 0 auto;
    margin-top: 5px;
    height: min-content;
    border-radius: 21px;
    box-shadow: 0 0 9px 0 #ffffff;
    background-color: #ffffff;
  }

  .day__results {
    width: 200px;
    height: 17px;
    font-size: 14px;
  }

  span {
    font-weight: bold;
  }

</style>
