<template>
  <div class="row">
    <div class="col-12 col-lg-5">
      <search v-if="isSearchVisible"></search>

      <div :class="{'row home-top-panel sticky-top': true }">

        <div class="col-12 main-line ml-0 mr-0" >
          <div class="info-pane">
            <div class="row">
              <div class="col-3 pr-0 text-right">

                <div class="box__aspect-1_1">
                  <img class="box__aspect-1_1__content profile-photo" :src="user.image ? user.image.url : require('@/assets/noavatar.jpg')">
                </div>
              </div>
              <div class="col-9">
                <div class="row mb-1">
                  <div class="col-6">
                    <div class="avatar-name">{{ user.name || '...' }}</div>
                  </div>
                  <div class="col-6" @click="viewFilter = 'followers'">
                    <div class="row">
                      <div class="col-8 text-line">followers</div>
                      <div class="col-4 value-line">{{ user.followers_count || 0 }}</div>
                    </div>
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-6">
                    <div class="avatar-status font-purple">
                      <img src="@/assets/stories/stars-1.svg" style="height: 11px" @click="goToRank()">
                    </div>
                  </div>
                  <div class="col-6" @click="viewFilter = 'following'">
                    <div class="row">
                      <div class="col-8 text-line">following</div>
                      <div class="col-4 value-line">{{ user.subscriptions_count || 0 }}</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6" @click="viewFilter = 'posts'">
                    <div class="text-line text-left">posts <span class="value-line ml-3">{{ user.posts_count || 0 }}</span></div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-8 text-line">likes</div>
                      <div class="col-4 value-line">{{ user.charity_likes_counter + user.feed_likes_counter + user.investment_likes_counter }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div :class="{ 'col-12 home-menu ml-0 mr-0': true, 'active': isOpenMenu === true }">
          <div class="col-12 home-menu__button text-center" @click="toggleMenu">
            Menu
          </div>
          <div class="dropdown home-menu__dropdown"  v-bind:class="{ 'home-menu__dropdown--hidden': isOpenMenu === false }">
            <ul class="dropdown__wrapper">
                <li class="dropdown__item">
                  <router-link class="dropdown__link" :to="{ name: 'HomeEdit'}">Edit Profile</router-link>
                </li>
                <li class="dropdown__break"></li>
                <li class="dropdown__item dropdown__item--disabled">
                  <a class="dropdown__link" href="#">Invite friends</a>
                </li>
                 <li class="dropdown__break"></li>
                <li class="dropdown__item dropdown__item--disabled">
                  <a class="dropdown__link" href="#">Monoreto Guide</a>
                </li>
                <li class="dropdown__break"></li>
                <li class="dropdown__item dropdown__item">
                  <router-link class="dropdown__link" :to="{ name: 'PrivacyPolicy'}">Privacy Policy</router-link>
                </li>
                <li class="dropdown__item dropdown__item">
                  <router-link class="dropdown__link" :to="{ name: 'ThermsService'}">Terms of Service</router-link>
                </li>
                <li class="dropdown__break"></li>
                <li class="dropdown__item" @click="doLogout()">
                  <a class="dropdown__link dropdown__link--red" href="#">Log out</a>
                </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 content">
        <preloader v-if="isLoadingHome"></preloader>
        <div v-show="viewFilter === 'posts'">
          <div class="row">
            <div class="column">
              <img v-for="post in posts.feeds.filter((x, i) => i % 2 === 0)" :key="post.id" :src="post.image.url" :alt="post.description" @click="openFeedWithSingleItem(post.id)">
            </div>
            <div class="column">
              <img v-for="post in posts.feeds.filter((x, i) => i % 2 !== 0)" :key="post.id" :src="post.image.url" :alt="post.description" @click="openFeedWithSingleItem(post.id)">
            </div>
          </div>
          <div class="row">
            <div class="column">
              <img v-for="post in posts.investments.filter((x, i) => i % 2 === 0)" :key="post.id" :src="post.image.url" :alt="post.description">
            </div>
            <div class="column">
              <img v-for="post in posts.investments.filter((x, i) => i % 2 !== 0)" :key="post.id" :src="post.image.url" :alt="post.description">
            </div>
          </div>
          <div class="row">
            <div class="column">
              <img v-for="post in posts.charity.filter((x, i) => i % 2 === 0)" :key="post.id" :src="post.image.url" :alt="post.description">
            </div>
            <div class="column">
              <img v-for="post in posts.charity.filter((x, i) => i % 2 !== 0)" :key="post.id" :src="post.image.url" :alt="post.description">
            </div>
          </div>
        </div>

        <div v-show="viewFilter === 'followers'">
          <div class="title mt-2 mb-3">Followers</div>
          <div v-for="account in followers" :key="account.user.id" class="account-pane" @click="goToPersonal(account.user.id)">
            <div class="d-flex mb-2">
              <div class="p-2">
                <div class="image-cell-wrapper">
                  <div class="box__aspect-1_1" v-if="account.user.image != null">
                    <img class="box__aspect-1_1__content profile-image" :src="account.user.image.url || require('@/assets/noavatar.jpg')">
                  </div>
                </div>
              </div>
              <div class="p-2">
                <div class="username">{{ account.user.name }}</div>
                <div class="rating mt-1">
                  <img src="@/assets/stories/stars-1.svg">
                </div>
              </div>
              <div class="ml-auto d-flex flex-column justify-content-center">
                <button v-if="followingUids.indexOf(account.user.id) === -1" class="follow-btn mr-2" @click.stop="doFollow(account.user.id)">follow</button>
                <button v-if="followingUids.indexOf(account.user.id) !== -1" class="unfollow-btn mr-2" @click.stop="doUnfollow(account.user.id)">unfollow</button>
              </div>
            </div>
          </div>
        </div>

        <div v-show="viewFilter === 'following'">
          <div class="title mt-2 mb-3">Following</div>
          <div v-for="account in following" :key="account.user.id" class="account-pane" @click="goToPersonal(account.user.id)">
            <div class="d-flex mb-2">
              <div class="p-2">
                <div class="image-cell-wrapper">
                  <div class="box__aspect-1_1" v-if="account.user.image != null">
                    <img class="box__aspect-1_1__content profile-image" :src="account.user.image.url || require('@/assets/noavatar.jpg')">
                  </div>
                  <img v-if="account.user.image == null" src="@/assets/profile/empty-avatar.svg" style="{
                    width: 100%;
                    height: 100%;
                  }">
                </div>
              </div>
              <div class="p-2">
                <div class="username">{{ account.user.name }}</div>
                <div class="rating mt-1">
                  <img src="@/assets/stories/stars-1.svg">
                </div>
              </div>
              <div class="ml-auto d-flex flex-column justify-content-center">
                <button v-if="followingUids.indexOf(account.user.id) === -1" class="follow-btn mr-2" @click.stop="doFollow(account.user.id)">follow</button>
                <button v-if="followingUids.indexOf(account.user.id) !== -1" class="unfollow-btn mr-2" @click.stop="doUnfollow(account.user.id)">unfollow</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="create-first-post" v-if="user.posts_count === 0">
        <div>
          <div class="text-right">Create your first post</div>
          <div class="text-right">to get likes</div>
          <div class="text-right">in mōn</div>
          <div class="create-first-post-line">
            <img src="@/assets/shared/create-first-post-line.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiClient } from './../../utils/httpClient'
import Search from './../shared/Search'
import Preloader from './../Preloader'

export default {
  name: 'Home',
  mounted () {
    apiClient.get('/my/profile')
      .then(res => {
        if (res.status === 200) {
          this.$store.commit('setUserInfo', res.data.data.profile)
          const userInfo = this.$store.state.userInfo
        } else {
          this.$store.commit('setUserInfo', {})
        }
      })
      .catch(error => {
        console.error(error)
        this.$store.commit('setUserInfo', {})
      })
    apiClient.get('/my/posts')
      .then(res => {
        this.isLoadingHome = false
        if (res.status === 200) {
            this.posts.feeds = res.data.data.posts.feeds.reverse()
            this.posts.charity = res.data.data.posts.charity.reverse()
            this.posts.investments = res.data.data.posts.investments.reverse()
          }
        })
      .catch(err => {
        this.isLoadingHome = false
        console.error(err)
      })
    this.isLoadingHome = true
    apiClient.get('/my/subscriptions/following')
      .then(res => {
        if (res.status === 200) {
          const subs = res.data.data.subscriptions
          subs.forEach(x => {
            if (x.user.is_following && this.followingUids.indexOf(x.user.id) === -1) {
              this.followingUids.push(x.user.id)
            }
          })
          this.following = subs
        }
      })
      .catch(err => console.error(err))

    apiClient.get('/my/subscriptions/followed')
      .then(res => {
        if (res.status === 200) {
          const subs = res.data.data.subscriptions
          subs.forEach(x => {
            if (x.user.is_following && this.followingUids.indexOf(x.user.id) === -1) {
              this.followingUids.push(x.user.id)
            }
          })
          this.followers = subs
        }
      })
      .catch(err => console.error(err))
  },
  data () {
    return {
      isOpenMenu: false,
      isAuthorized: this.$store.state.jwtToken != null,
      posts: {
        feeds: [],
        charity: [],
        investments: []
      },
      viewFilter: 'posts',
      following: [],
      followers: [],
      followingUids: [],
      isLoadingHome: false
    }
  },
  methods: {
    toggleMenu () {
      this.isOpenMenu = ! this.isOpenMenu
    },
    doLogout (){
      this.$store.dispatch('logOut')
      this.$router.push('/login')
    },
    stopFollowing (userId) {
      this.unfollow(userId, uid => {
        const uIdx = this.following.findIndex(x => x.user.id === uid)
        if (uIdx !== -1) {
          this.following.splice(uIdx, 1)
          this.user.followers_count -= 1
        }
      })
    },
    doFollow (userId) {
      this.follow(userId, uid => {
        this.followingUids.push(uid)
      })
    },
    doUnfollow (userId) {
      this.unfollow(userId, uid => {
        const idx = this.followingUids.indexOf(uid)
        if (idx !== -1) {
          this.followingUids.splice(idx, 1)
        }
      })
    },
    follow (userId, cb) {
      let url = `/subscriptions/${userId}/add`
      apiClient.get(url)
        .then(res => {
          if (res.status === 200) {
            cb(userId)
          }
        })
        .catch(err => console.error(err))
    },
    unfollow (userId, cb) {
      let url = `/subscriptions/${userId}/delete`
      apiClient.get(url)
        .then(res => {
          if (res.status === 200) {
            cb(userId)
          }
        })
        .catch(err => console.error(err))
    },
    goToPersonal (userId) {
      this.$router.push(`/user/${userId}`)
    },
    openFeedWithSingleItem (postId) {
      this.$router.push(`/feed/${postId}`)
    },
    goToRank () {
      this.$router.push('/rank')
    }
  },
  computed: {
    user () {
      return this.$store.state.userInfo
    },
    isSearchVisible () {
      return this.$store.state.isPopupOpened && this.$store.state.isSearchVisible
    }
  },
  components: {
    Search,
    Preloader
  }
}
</script>


<style lang="scss" scoped>

.avatar-name {
  color: #5402ff;
}

.home-top-panel {
  top: 44px;
  z-index: 100;
}

@media (min-width: 768px) {
  .home-top-panel {
    font-family: Muller-Medium;
    font-size: 16px;
  }
}

.create-acc-teaser {
  color: white;
  font-family: Muller-Medium-Italic;
  margin-top: 15%;
  font-size: 19px;
}

.main-line {
  background-image: radial-gradient(circle at 50% 50%, #ff5c5c, #5300ff);
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  padding: 12px;
}

.info-pane {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  padding: 15px;
}

.home-menu {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
  color: white;
  font-family: Muller-Medium;
  font-size: 1.1rem;
  height: 33px;
  &__dropdown {
    transition: all .3s ease-in-out;

    width: 100vw;
    height: 150vh;
    padding: 0px;
    margin: -5px -15px;
    background-color: #fff;
    overflow: hidden;
  }
  &__dropdown--hidden {
    height: 0vh;
  }
}
.dropdown {
  &__wrapper {
      padding: 20px 25px;
      list-style: none;
  }
  &__item {
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    &--disabled {
        opacity: 0.5;
    }
  }
  &__link {
    color: #5402ff;
    font-size: 1rem;
    font-weight: 500;
  }
  &__break {
    border: solid 1px #d4bfff;
    width: 100%;
  }
  &__link--red {
    color: #f0536a;
  }
}

.home-menu.active {
  background-image: radial-gradient(circle at 50% 0, #f8838d, #8246fe);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
}

.home-menu {
  &__button {
    height: 100%;
    vertical-align: middle;
    margin-top: 5px;
  }
}

.profile-image {
  border-radius: 50%;
}

.profile-photo {
  border-radius: 50%;
}

.content {
  background-color: #eadfff;
  padding: 5px;
  padding-bottom: 55px;
}

.create-first-post {
  width: 60vw;
  font-family: Muller;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #6615f6;
  position: fixed;
  bottom: 90px;
  left: 20%;
}

.create-first-post-line {
  position: absolute;
  bottom: 0;
  left: 0;
}

.image-item {
  max-width: 100%;
  border-radius: 21px;
}

.column {
  max-width: 50%;
  flex: 50%;
  margin-top: 8px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  border-radius: 21px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.text-line {
  font-size: 12px;
  font-family: Muller-Medium;
  font-weight: 500;
  color: #131f3c;
  text-align: right;
}

.value-line {
  color: #5402ff;
  font-family: Muller-Medium;
  font-size: 12px;
  font-weight: 600;
  padding-left: 0;
}

.tap-or-slide-menu {
  width: 60vw;
  font-family: Muller;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #6615f6;
  position: fixed;
  bottom: 64px;
  left: 20%;
}

.image-cell-wrapper {
  height: 44px;
  width: 44px;
}

.profile-image {
  border-radius: 10px;
}

.account-pane {
  position: relative;
  z-index: 10;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
}

.follow-btn {
  height: 27px;
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #5300ff;
  border: solid 1.2px #ffffff;
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 106px;
}

.unfollow-btn {
  height: 27px;
  border-radius: 57.9px;
  box-shadow: 0 0 23px 0 #ffffff, 0 0 2px 0 #4900e2;
  background-color: #ffffff;
  border: solid 1.2px #5300ff;
  font-family: Muller;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
   color: #5300ff;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 106px;
}

.username {
  margin-top: 6px;
  font-family: Muller;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #131f3c;
}

.rating > img {
  height: 11px;
}

.title {
  font-family: Muller;
  font-size: 15.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5300ff;
}

.row {

}
</style>
