<template>
    <div class="home-edit">

        <div class="home-edit__avatar">
            <div class="home-edit__content">
                <img class="home-edit__picture" :src="userAvatar">
                <home-avatar-cropper></home-avatar-cropper>
            </div>
        </div>

        <div v-show="message !== ''" class="home-edit__message">
            {{ message }}
        </div>

        <form v-on:submit.prevent="updateNickName" class="home-edit__fields mt-3">
            <label class="home-edit__label">Change Nickname</label>
            <input class="home-edit__input" type="text" v-model="nickName" value="123">
            <button class="home-edit__button">Save</button>
        </form>

        <p class="home-edit__line"></p>

        <div class="home-edit__fields">

            <label class="home-edit__label">Old Password</label>
            <input class="home-edit__input" type="text">

            <label class="home-edit__label">New Password</label>
            <input class="home-edit__input" type="text">
            <input class="home-edit__input home-edit__input--break" type="text">
            <button class="home-edit__button">Save</button>

        </div>
    </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { apiClient, getErrorMessage } from '@/utils/httpClient'
  import HomeAvatarCropper from './HomeAvatarCropper.vue'

  export default {
    name: "HomeEdit",
    components: {
        HomeAvatarCropper
    },
    computed: mapState({
        userAvatar: state => state.userInfo.image ? state.userInfo.image.url : require("@/assets/noavatar.jpg"),
    }),
    data: () => ({
        nickName: '',
        message: '',
    }),
    mounted () {
        this.nickName = this.$store.state.userInfo.name
        this.$store.watch((state) => this.$store.state.userInfo.name, (val) => this.nickName = val)
    },
    methods: {
        updateNickName () {
            this.message = ''
            let fd = new FormData()
            fd.append('name', this.nickName)
            apiClient.post('/my/profile', fd).then(
                (r) => {
                    this.message = r.data.data.message
                    this.$store.state.userInfo.name = this.nickName
                },
                (r) => this.message = getErrorMessage(r)
            )
            return false
        }
    }
  }
</script>

<style lang="scss" scoped>
    .home-edit {
        margin: 0 -15px;
        height: 120%;
        background-image: radial-gradient(circle at center 86%, #ff5c5c, #a159ff);

        &__message {
            text-align: center;
            color: #fff;
            font-size: 1.2rem;
            margin: 16px;
            font-weight: 600;
        }
        &__avatar {
            padding: 12px;
            background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
            box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
        }
        &__picture {
            width: 69px;
            height: 69px;
            border-radius: 50%;
        }
        &__content {
            display: flex;
            align-items: center;
            border-radius: 7.5px;
            background-color: #ffffff;
            box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
            padding: 15px;
        }
        &__fields {
            margin: 0px 45px;
        }
        &__label {
            display: block;
            font-size: 15px;
            color: #fff;
            font-weight: 500;
            margin: 10px 0 5px 0;
        }
        &__input {
            display: block;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            text-indent: 5px;
            width: 100%;
            height: 35px;
            border-radius: 4px;
            box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
            background-color: #ffffff;
            border: none;
            &--break {
                margin-top: 7px;
            }
            &:focus {
                outline: none;
            }
        }
        &__button {
            display: block;
            margin: 15px auto;
            width: 115px;
            height: 30px;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 0 0 18px 0 #ffffff;
            color: #5402ff;
            font-size: 13.8px;
            font-weight: 500;
            &:focus {
                outline: none;
            }
        }
        &__line {
            height: 2px;
            border: solid 1px #ffffff;
            opacity: 0.5;
        }
    }
</style>
