<template>
    <div class="home-avatar">
        <input id="home-avatar-file" class="home-avatar__action--hidden" type="file" name="image" accept="image/*" @change="setImage" />
        <label class="home-avatar__action" for="home-avatar-file">Update userpic</label>

        <div v-if="displayCrop" class="home-avatar-manage">
            <vue-cropper
                ref='cropper'
                :aspect-ratio="1"
                :guides="true"
                :responsive="true"
                :view-mode="2"
                drag-mode="crop"
                :auto-crop-area="0.5"
                :min-crop-box-width="100"
                :min-crop-box-height="100"
                :background="false"
                :rotatable="true"
                :src="imgSrc"
                :container-style="{'max-height': '250px' }"
                :cropend="onCrop"
                alt="Source Image">
            </vue-cropper>

            <div v-if="message" class="home-avatar__message">{{ message }}</div>

            <div v-if="uploading === false" class="home-avatar__button-group">
                <button class="home-avatar__button" @click="rotate">Rotate</button>
                <button class="home-avatar__button" @click="update">Update</button>
                <button class="home-avatar__button" @click="closeUpload">Cancel</button>
            </div>
            <preloader v-else></preloader>
        </div>


    </div>
</template>

<script>
// @config  https://github.com/Agontuk/vue-cropperjs/blob/e3b42479101f271efd209048c472c484c8d6475c/dist/VueCropper.js
import VueCropper from "vue-cropperjs";
import { apiClient, getErrorMessage } from "@/utils/httpClient";
import Preloader from "./../Preloader";

export default {
  name: "HomeAvatarCropper",
  data: () => ({
    message: "",
    uploading: false,
    imgSrc: "",
    userImage: null
  }),
  components: {
    VueCropper,
    Preloader
  },
  computed: {
    displayCrop() {
      return this.imgSrc !== "";
    }
  },
  methods: {
    onCrop() {
      if (!this.$store.state.userInfo.image) {
        this.$store.state.userInfo.image = {url: require('@/assets/noavatar.jpg')}
      } 
      this.userImage = this.userImage || this.$store.state.userInfo.image.url;
      this.$store.state.userInfo.image.url = this.$refs.cropper
        .getCroppedCanvas()
        .toDataURL();
    },
    rotate() {
      // guess what this does :)
      this.$refs.cropper.rotate(90);
    },
    setImage(e) {
      const file = e.target.files[0];
      if (!file.type.includes("image/")) {
        this.message = "Please select an image file";
        return;
      }
      if (typeof FileReader !== "function") {
        this.message = "Sorry, FileReader API not supported";
      }
      const reader = new FileReader();
      reader.onload = event => {
        this.imgSrc = event.target.result;
        this.$refs.cropper.replace(this.imgSrc);
      };
      reader.readAsDataURL(file);
    },
    update() {
      let imageData = this.$refs.cropper.getCroppedCanvas().toBlob(blob => {
        let fd = new FormData();
        fd.append("image", blob);
        this.uploading = true;
        this.message = "";
        apiClient.post("/my/profile", fd).then(
          r => {
            this.message = r.data.data.message;
            this.uploading = false;
            apiClient
              .get("/my/profile")
              .then(res =>
                this.$store.commit("setUserInfo", res.data.data.profile)
              );
            this.userImage = null
            this.closeUpload();
          },
          r => {
            this.message = getErrorMessage(r);
            this.uploading = false;
          }
        );
      });
    },
    closeUpload() {
      this.imgSrc = "";
      if (this.userImage) {
        this.$store.state.userInfo.image.url = this.userImage;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.home-avatar-manage {
  position: absolute;
  left: 0;
  top: 160px;
  width: 100%;
  height: calc(100% - 160px);
  z-index: 1000;
  background-image: radial-gradient(circle at center 86%, #ff5c5c, #a159ff);
}
.home-avatar {
  margin-left: 55px;
  &__message {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin: 16px;
    font-weight: 600;
  }

  &__button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  &__button {
    width: 115px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 18px 0 #ffffff;
    color: #5402ff;
    font-size: 13.8px;
    font-weight: 500;
    margin: 0px 5px;
    &:focus {
      outline: none;
    }
  }
  &__action {
    &--hidden {
      visibility: hidden;
      position: absolute;
      left: -9999px;
      height: 0px;
      width: 0px;
    }
    color: #5402ff;
    font-weight: 600;
  }
}
</style>