<template>
    <div class="privacypolicy-wrap">
        text text text
    </div>
</template>

<script>
  export default {
    name: "PrivicyPolicy"
  }
</script>

<style lang="scss" scoped>
    .privacypolicy-wrap {
        padding: 10px;
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 7.5px;
        background-color: #ffffff;
        box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
    }
</style>