<template>
    <div class="therms-service-wrap">
        text text text
    </div>
</template>

<script>
  export default {
    name: "ThermsService"
  }
</script>

<style lang="scss" scoped>
    .therms-service-wrap{
        margin: 0 -15px;
        height: 100%;
        background: black;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>