<template>
    <div class="blur" @click="cancel()"></div>
</template>

<script>
    export default {
        name: "BlurWindow",
        methods: {
            cancel () {
                this.$store.state.blurWindow = false
            }
        }
    }
</script>

<style scoped>
    .blur {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #fff;
        z-index: 101;
        filter: blur(250px);
    }
</style>