<template>
  <div class="notify notify__item--text">
    <preloader v-if="isLoading"></preloader>
    <div class="notify__item--empty mt-4" v-if="isLoading === false && notificationUsers.length === 0">Notifications is empty</div>
    <div class="notify-block">
      
      <div v-for="notify in notificationUsers" :key="notify.id"></div>

        <notification-of-likes v-if="isLoading===false" :notify="notify"></notification-of-likes>
        <notification-of-subscriptions v-if="isLoading===false" :notify="notify"></notification-of-subscriptions>
        <notification-of-comments v-if="isLoading===false" :notify="notify"></notification-of-comments>
        <report-of-results v-if="isLoading===false" :notify="notify"></report-of-results>

    </div>
  </div>
</template>

<script>

  import { apiClient } from './../../utils/httpClient';
  import Preloader from './../Preloader';
  import NotificationOfLikes from "../notifyEvents/notificationOfLikes";
  import NotificationOfSubscriptions from "../notifyEvents/notificationOfSubscriptions";
  import NotificationOfComments from "../notifyEvents/notificationOfComments";
  import ReportOfResults from "../notifyEvents/reportOfResults";

  export default {
    name: "Notifications",
    components: {
      ReportOfResults,
      NotificationOfComments,
      NotificationOfSubscriptions,
      NotificationOfLikes,
      Preloader,
    },
    data() {
      return {
        notificationUsers: [],
        isLoading: false
      }
    },
    mounted () {
      this.fetchData()
    },
    methods: {
      fetchData() {
        this.isLoading = true
        apiClient.get('/my/notifications')
          .then(res => {
            this.isLoading = false
            if (res.status === 200) {
              this.notificationUsers = res.data.data.notifications
              console.log(this.notificationUsers)
            }
          }, err => {
            this.isLoading = false
          })
      }
    }
  }

</script>

<style lang="scss" scoped>

.icon__like {
  display: none;
  width: 45px;
  height: 44px;
  object-fit: contain;
  opacity: 0.9;
}

.notify__item {
  &--text {
    font-family: Muller;
    color: #131f3c;
  }
  &--empty {
    font-size: 20px;
    font-weight: 700;
    color: #5300ff;
    text-align: center;
  }
}

span {
  font-weight: bold;
}

</style>
