<template>
  <ion-app v-on:scroll="onScroll">
    <someone-liked v-if="isRouterViewOnly"></someone-liked>
    <header-block v-if="isRouterViewOnly"></header-block>
    <balance-is-empty></balance-is-empty>
    <div class="main-container" :class="{'main-container--with-head': isRouterViewOnly}">
      <router-view></router-view>
    </div>
    <footer-block v-if="isRouterViewOnly"></footer-block>
  </ion-app>
</template>

<script>
import { mapState } from 'vuex';

import BalanceIsEmpty from './components/shared/notifications/BalanceIsEmpty' // @TODO change to notify
import BlurWindow from './components/BlurWindow'
import HeaderBlock from './components/shared/Header'
import FooterBlock from './components/shared/Footer'
import SomeoneLiked from './components/shared/notifications/SomeoneLiked'
import Swipe from './utils/swipe'
import './../node_modules/animate.css/animate.min.css'
import store from './store'
import _debounce from 'debounce'
import Bootstrap from './bootstrap'

export default {
  name: 'app',
  components: {
    HeaderBlock,
    FooterBlock,
    SomeoneLiked,
    BlurWindow,
    BalanceIsEmpty
  },
  watch: {
    '$route' (to, from) {
      if (this.$store.state.isRouteToBack === false) {
        store.commit('setRouteHistory', from)
      }
      this.$store.state.isRouteToBack = false
    }
  },
  mounted () {
    Bootstrap.initializeCustomer(store)
  },
  computed: mapState({
    isRouterViewOnly: state => state.userIsGuest !== true,
  }),
  methods: {
    onScroll: _debounce(function(e) {
      this.$store.commit('scrollContent', e)
    }, 10, true)
  }
}

</script>

<style lang="scss">

::-webkit-scrollbar {
  display: none;
}

@font-face {
    font-family: Phenomena;
    src: url(assets/fonts/Phenomena/Phenomena-Regular.otf);
}

@font-face {
    font-family: Phenomena-Bold;
    src: url(assets/fonts/Phenomena/Phenomena-Bold.otf);
}

@font-face {
    font-family: Muller;
    src: url(assets/fonts/Muller/Muller-Regular.otf);
}

@font-face {
    font-family: Muller-Medium;
    src: url(assets/fonts/Muller/Muller-Medium.otf);
}

@font-face {
    font-family: Muller-Medium-Italic;
    src: url(assets/fonts/Muller/Muller-Medium-Italic.otf);
}

@font-face {
    font-family: Muller-Bold;
    src: url(assets/fonts/Muller/Muller-Bold.otf);
}

html, body, .app {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  background-color: #eadfff;
}

body {
  position: static;
}

.main-container {
  &--with-head {
      margin-top: 45px;
  }
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .form-control {
    background: #fff;
    border: none;
    border-radius: 0.4rem;
  }

  @media (min-width: 992px) {
    .main-container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .main-container {
      max-width: 1140px;
    }
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

</style>
